openapi: 3.2.0
info:
  title: Lusha API Documentation Company Filters API
  version: ''
  x-logo:
    url: https://www.lusha.com/logo.png
  license:
    name: Proprietary
    url: https://lusha.com/legal/terms
  description: ⚠️ **This version is soon to be deprecated.** Please migrate to V3.
  contact:
    name: Lusha Support
    url: https://api.lusha.com
    email: support@lusha.com
  termsOfService: https://lusha.com/legal/terms
  x-privacy-policy:
    name: Privacy Policy
    url: https://lusha.com/legal/privacy-notice/
servers:
- url: https://api.lusha.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Company Filters
  description: Available filters for company searches
  x-parent-tag: Prospecting
paths:
  /prospecting/filters/companies/names:
    post:
      tags:
      - Company Filters
      summary: Names
      description: Search for company names by text
      operationId: searchCompanyNames
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyNameSearchRequest'
            example:
              text: lusha
      responses:
        '200':
          description: Matching companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyNameResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/industries_labels:
    get:
      tags:
      - Company Filters
      summary: Industries
      description: Get list of available industries for company filtering
      operationId: getCompanyIndustries
      responses:
        '200':
          description: Industry hierarchy
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndustryLabel'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/sizes:
    get:
      tags:
      - Company Filters
      summary: Sizes
      description: Get list of available company size ranges
      operationId: getCompanySizes
      responses:
        '200':
          description: Company size ranges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanySizeRange'
              example:
              - min: 1
                max: 10
              - min: 11
                max: 50
              - min: 51
                max: 200
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/revenues:
    get:
      tags:
      - Company Filters
      summary: Revenues
      description: Get list of available revenue ranges
      operationId: getCompanyRevenues
      responses:
        '200':
          description: Revenue ranges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevenueRange'
              example:
              - min: 1
                max: 1000000
              - min: 1000001
                max: 10000000
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/locations:
    post:
      tags:
      - Company Filters
      summary: Locations
      description: Search for company locations by text
      operationId: searchCompanyLocations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationSearchRequest'
            example:
              text: Israel
      responses:
        '200':
          description: Matching locations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyLocationFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/sics:
    get:
      tags:
      - Company Filters
      summary: SIC Codes
      description: Get list of available SIC codes
      operationId: getCompanySicCodes
      responses:
        '200':
          description: SIC codes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SicCode'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/naics:
    get:
      tags:
      - Company Filters
      summary: NAICS Codes
      description: Get list of available NAICS codes
      operationId: getCompanyNaicsCodes
      responses:
        '200':
          description: NAICS codes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NaicsCode'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/intent_topics:
    get:
      tags:
      - Company Filters
      summary: Intent Topics
      description: Get list of available intent topics
      operationId: getCompanyIntentTopics
      responses:
        '200':
          description: Intent topics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - Android
              - Accounting
              - Zero Trust
              - Digital Sales
        '401':
          $ref: '#/components/responses/Unauthorized'
  /prospecting/filters/companies/technologies:
    post:
      tags:
      - Company Filters
      summary: Technologies
      description: Search for technologies by text
      operationId: searchCompanyTechnologies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TechnologySearchRequest'
            example:
              text: rss
      responses:
        '200':
          description: Matching technologies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Technology'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - statusCode
      - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages (optional, only for validation errors)
          example:
          - 'entityType must be one of: contact, company'
    Technology:
      type: object
      properties:
        name:
          type: string
          example: rss
    SicCode:
      type: object
      properties:
        code:
          type: string
          example: '1011'
        label:
          type: string
          example: Iron ores
    CompanyNameSearchRequest:
      type: object
      properties:
        text:
          type: string
          description: Search text for company name
          example: lusha
      required:
      - text
    TechnologySearchRequest:
      type: object
      properties:
        text:
          type: string
          description: Search text for technology
          example: rss
      required:
      - text
    LocationSearchRequest:
      type: object
      properties:
        text:
          type: string
          description: Search text for location
          example: un
      required:
      - text
    RevenueRange:
      type: object
      properties:
        min:
          type: number
          example: 1
        max:
          type: number
          example: 1000000
    NaicsCode:
      type: object
      properties:
        code:
          type: string
          example: '11'
        label:
          type: string
          example: Agriculture, Forestry, Fishing and Hunting
    CompanyLocationFilter:
      type: object
      properties:
        country:
          type: string
          example: United States
        continent:
          type: string
          example: North America
        country_grouping:
          type: string
          example: na
    CompanyNameResult:
      type: object
      properties:
        companyId:
          type: number
          example: 33222678
        name:
          type: string
          example: Lusha
        logoUrl:
          type: string
          example: https://logo.lusha.co/d/company_33222678_logo.jpg
        fqdn:
          type: string
          example: www.lusha.com
    IndustryLabel:
      type: object
      properties:
        main_industry:
          type: string
          example: Hospitality
        main_industry_id:
          type: number
          example: 1
        sub_industries:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                example: Other
              id:
                type: number
                example: 778
    CompanySizeRange:
      type: object
      properties:
        min:
          type: number
          example: 1
        max:
          type: number
          example: 10
  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Invalid API key
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: 'Your Lusha API key. You can find this in your Lusha dashboard under API settings.


        Include this key in the `api_key` header for all requests.

        '
