openapi: 3.2.0
info:
  title: Lusha Signals API
  version: ''
  contact:
    name: Lusha Support
    url: https://api.lusha.com
    email: support@lusha.com
  license:
    name: Proprietary
    url: https://lusha.com/legal/terms
  termsOfService: https://lusha.com/legal/terms
  x-logo:
    url: https://www.lusha.com/logo.png
  x-privacy-policy:
    name: Privacy Policy
    url: https://lusha.com/legal/privacy-notice/
  description: 'Operations tagged Signals across 2 of this provider''s published API definitions: lusha-openapi.yml, lusha-v2-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lusha.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Signals
  description: 'Real-world activity data for contacts and companies.


    Signals are available as standalone endpoints or as an optional `signals` filter on Search and Prospecting endpoints.



    **Contact signal types:** `promotion`, `companyChange`, `allSignals`


    ----


    **Company signal types:** `headcountIncrease1m/3m/6m/12m`, `headcountDecrease1m/3m/6m/12m`, `surgeInHiring`, `surgeInHiringByDepartment`, `surgeInHiringByLocation`, `websiteTrafficIncrease`, `websiteTrafficDecrease`, `itSpendIncrease`, `itSpendDecrease`, `riskNews`, `commercialActivityNews`, `corporateStrategyNews`, `financialEventsNews`, `peopleNews`, `marketIntelligenceNews`, `productActivityNews`, `allSignals`


    ----


    **Signal Score:** Use [Score Companies by Signal Activity](#operation/getCompanySignalScores) or [Score Contacts by Signal Activity](#operation/getContactSignalScores) to get a single aggregate momentum score ([0,1]) plus the active signal breakdown for a batch of entities, rather than a raw event list.


    ----


    Credits are charged per matched signal per result via `showSignalsContact` or `showSignalsCompany`.


    Pass `tableId` to also persist matching results into an existing table. See [Contacts Tables](#tag/Contacts-Tables) or [Companies Tables](#tag/Companies-Tables).

    '
  x-tag-expanded: true
paths:
  /v3/contacts/signals:
    post:
      tags:
      - Signals
      summary: Contact Signals
      operationId: getContactSignals
      description: 'Retrieve signal events for a list of contacts — job changes and promotions.


        Pass up to 100 contact `ids`. Use `signalTypes` to specify which events to return (`promotion`, `companyChange`, or `allSignals`). Optionally set a `startDate` to limit results to recent activity.


        > **Billing:** Charged per matched signal per result via the `showSignalsContact` action.


        > **Persisting to a table:** Pass `tableId` to also add these contacts to an existing table and populate the Signals column. See [Contacts Tables](#tag/Contacts-Tables).

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V3ContactSignalsRequest'
            example:
              ids:
              - '4389064624'
              - '4389064654'
              signalTypes:
              - allSignals
              startDate: '2025-01-01'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ContactSignalsResponse'
              example:
                results:
                - id: '115889'
                  companyChange:
                  - id: '115889'
                    signalDate: '2025-02-01'
                    previousCompany: ZoomInfo
                    newCompany: Lusha
                  promotion: []
                startDate: '2025-01-01'
                endDate: '2025-03-01'
                billing:
                  creditsCharged: 1
                  resultsReturned: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/companies/signals:
    post:
      tags:
      - Signals
      summary: Company Signals
      operationId: getCompanySignals
      description: 'Retrieve signal events for a list of companies — hiring activity, headcount changes, web traffic, IT spend, and news.


        Pass up to 100 company `ids`. Use `signalTypes` to specify which signals to return (or use `allSignals`). Optionally set a `startDate` to limit results to recent activity.


        > **Billing:** Charged per matched signal per result via the `showSignalsCompany` action.


        > **Persisting to a table:** Pass `tableId` to also add these companies to an existing table and populate the Signals column. See [Companies Tables](#tag/Companies-Tables).

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V3CompanySignalsRequest'
            example:
              ids:
              - '16303253'
              signalTypes:
              - allSignals
              startDate: '2025-01-01'
              maxResultsPerSignal: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3CompanySignalsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/contacts/signals/types:
    get:
      tags:
      - Signals
      summary: Get Contact Signal Types
      operationId: getContactSignalTypes
      description: 'Returns the full list of supported signal types for contacts.

        '
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSignalTypesResponse'
              example:
                signalTypes:
                - allSignals
                - promotion
                - companyChange
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/companies/signals/types:
    get:
      tags:
      - Signals
      summary: Get Company Signal Types
      operationId: getCompanySignalTypes
      description: 'Returns the full list of supported signal types for companies.

        '
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySignalTypesResponse'
              example:
                signalTypes:
                - allSignals
                - linkedinActivityIntent
                - websiteTrafficDecrease
                - websiteTrafficIncrease
                - itSpendIncrease
                - itSpendDecrease
                - surgeInHiring
                - headcountIncrease1m
                - headcountIncrease3m
                - headcountIncrease6m
                - headcountIncrease12m
                - headcountDecrease1m
                - headcountDecrease3m
                - headcountDecrease6m
                - headcountDecrease12m
                - surgeInHiringByDepartment
                - surgeInHiringByLocation
                - riskNews
                - commercialActivityNews
                - corporateStrategyNews
                - financialEventsNews
                - peopleNews
                - marketIntelligenceNews
                - productActivityNews
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/companies/signals/filters:
    get:
      tags:
      - Signals
      summary: Get Company Signal Filters (Discovery)
      operationId: getCompanySignalFilters
      description: 'Returns all available filter types for company signals and whether each requires a search query.

        '
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterTypesDiscoveryResponse'
              example:
                availableFilters:
                - filterType: newsEventTypes
                  requiresQuery: false
                - filterType: hiringByDepartments
                  requiresQuery: false
                - filterType: hiringByLocations
                  requiresQuery: true
                - filterType: intentCategories
                  requiresQuery: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/companies/signals/filters/{filterType}:
    get:
      tags:
      - Signals
      summary: Get Company Signal Filter Values
      operationId: getCompanySignalFilterValues
      description: 'Returns valid values for a single company signal filter type.


        | Filter type | Query required? |

        |---|---|

        | `newsEventTypes` | No |

        | `hiringByDepartments` | No |

        | `hiringByLocations` | Yes (2-256 chars) |

        | `intentCategories` | No — the `query` parameter is not supported for this filter type; passing one returns `400` |

        '
      parameters:
      - name: filterType
        in: path
        required: true
        schema:
          type: string
          enum:
          - newsEventTypes
          - hiringByDepartments
          - hiringByLocations
          - intentCategories
      - name: query
        in: query
        required: false
        schema:
          type: string
          minLength: 2
          maxLength: 256
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterValuesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/companies/signal-score:
    post:
      tags:
      - Signals
      summary: Score Companies by Signal Activity
      operationId: getCompanySignalScores
      description: 'Score companies by their active buying signals. Returns the aggregate Signal Score - a `[0, 1]` value reflecting the fraction of the company''s active signals - plus the active signal breakdown.


        Accepts up to 100 companies, each identified by exactly one of `id`, `domain`, `name`, or `email`. All identifiers are resolved to Lusha company IDs server-side before scoring.


        Each result is one of:

        - A **scored entry** - `signalScore`, `signalTypes`, and `noActiveSignals`.

        - A **`NOT_FOUND`** entry - the company service could not resolve the supplied identifier.

        - A **`NO_SCORE`** entry - the company resolved, but the scoring engine returned nothing for it.


        > **Billing:** 1 credit is charged per scored row via `signal_score_company_reveal`. This action is currently limited-availability - while it isn''t yet seeded on an account''s pricebook, the endpoint stays free (`billing.creditsCharged` is `0`). Error rows (`NOT_FOUND` / `NO_SCORE`) are never charged.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V3SignalScoreCompaniesRequest'
            example:
              companies:
              - clientReferenceId: ref-1
                id: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
              - clientReferenceId: ref-2
                domain: www.microsoft.com
              - clientReferenceId: ref-3
                name: Apple
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3SignalScoreCompaniesResponse'
              example:
                requestId: 5d6f13d2-f6b0-4e55-85d5-04e17f932c1a
                results:
                - clientReferenceId: ref-1
                  id: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
                  name: Acme Corp
                  domain: www.acmecorp.io
                  signalScore: 0.42
                  signalTypes:
                  - hiringSignalIncrease
                  - websiteVisit
                  noActiveSignals: false
                - clientReferenceId: ref-2
                  id: v1.6789ZyXwVuTsRqPoNmLkJiHgFeDcBa01
                  name: Microsoft
                  domain: www.microsoft.com
                  signalScore: 0
                  signalTypes: []
                  noActiveSignals: true
                - clientReferenceId: ref-3
                  domain: nope-xyz.com
                  error:
                    code: NOT_FOUND
                    message: Company not found
                billing:
                  creditsCharged: 2
                  resultsReturned: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /v3/contacts/signal-score:
    post:
      tags:
      - Signals
      summary: Score Contacts by Signal Activity
      operationId: getContactSignalScores
      description: 'Score contacts by their active buying signals. Returns the aggregate Signal Score - a `[0, 1]` value - plus the active signal breakdown per contact.


        Accepts up to 100 contacts. Each contact is resolved to a Lusha person ID and company ID server-side (identity only - no PII is revealed) before scoring. Provide one of:

        - `id` (encrypted Lusha contact ID)

        - `linkedinUrl`

        - `email`

        - `firstName` + `lastName` + (`companyName` or `companyDomain`)


        Each result is one of:

        - A **scored entry** - `signalScore`, `signalTypes`, and `noActiveSignals`.

        - A **`NOT_FOUND`** entry - identity resolution failed for the supplied identifier.

        - A **`NO_SCORE`** entry - the contact resolved, but the scoring engine returned nothing for it.


        > **Note:** A full outage of the identity-resolution provider is never masked as `NOT_FOUND` - it returns a retryable `502` instead, so callers can retry rather than treating the batch as authoritatively unresolved.


        > **Billing:** 1 credit is charged per scored row via `signal_score_contact_reveal`. This action is currently limited-availability - while it isn''t yet seeded on an account''s pricebook, the endpoint stays free (`billing.creditsCharged` is `0`). Error rows (`NOT_FOUND` / `NO_SCORE`) are never charged.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V3SignalScoreContactsRequest'
            example:
              contacts:
              - clientReferenceId: ref-1
                id: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
              - clientReferenceId: ref-2
                linkedinUrl: https://linkedin.com/in/johndoe
              - clientReferenceId: ref-3
                firstName: Jane
                lastName: Doe
                companyDomain: acme.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3SignalScoreContactsResponse'
              example:
                requestId: 5d6f13d2-f6b0-4e55-85d5-04e17f932c1a
                results:
                - clientReferenceId: ref-1
                  id: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
                  fullName: Jane Doe
                  company:
                    id: v1.6789ZyXwVuTsRqPoNmLkJiHgFeDcBa01
                    name: Acme Corp
                    domain: acme.com
                  signalScore: 0.3
                  signalTypes:
                  - promotion
                  noActiveSignals: false
                - clientReferenceId: ref-2
                  error:
                    code: NOT_FOUND
                    message: Contact not found
                billing:
                  creditsCharged: 1
                  resultsReturned: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          $ref: '#/components/responses/BadGateway'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /api/signals/filters/{objectType}:
    get:
      tags:
      - Signals
      summary: Get Signal Options
      description: "Retrieve available signal options for a specific entity type (contact or company).\nThis endpoint returns the list of signal types you can filter by when enriching contacts or companies.\n\n\n  **Endpoints:**\n\n    * **Contacts:** `GET /api/signals/filters/contact`\n    * **Companies:** `GET /api/signals/filters/company`\n\n\n  #### Available Signal Types\n\n\n    #### For contacts:\n\n    * **`allSignals`** - All available contact signal types\n    * **`promotion`** - Job title promotions\n    * **`companyChange`** - Company changes\n\n    ---\n\n    #### For companies:\n\n      * **`allSignals`** - All available company signal types\n\n    <br />\n\n    **Hiring & Workforce:**\n\n    * **`surgeInHiring`** - Overall hiring activity increase\n    * **`surgeInHiringByDepartment`** - Department-specific hiring surges\n    * **`surgeInHiringByLocation`** - Location-specific hiring surges\n\n    <br />\n\n      **Headcount Trends:**\n\n    | Signal | Description |\n    |--------|-------------|\n    | `headcountIncrease1m` / `headcountDecrease1m` | 1-month employee count changes |\n    | `headcountIncrease3m` / `headcountDecrease3m` | 3-month employee count changes |\n    | `headcountIncrease6m` / `headcountDecrease6m` | 6-month employee count changes |\n    | `headcountIncrease12m` / `headcountDecrease12m` | 12-month employee count changes |\n\n    <br />\n\n      **Technology & Digital Presence:**\n\n    * **`websiteTrafficIncrease`** - Website traffic growth\n    * **`websiteTrafficDecrease`** - Website traffic decline\n    * **`itSpendIncrease`** - IT spending increase\n    * **`itSpendDecrease`** - IT spending decrease\n\n    **News Events:**\n\n    To retrieve company news, use one or more of the following category values:\n\n\n    | Signal | Included Events |\n    |--------|-----------------|\n    | `commercialActivityNews` | Partnership, New Customer, New Vendor |\n    | `corporateStrategyNews` | M&A, Facilities Expansion, New Location, Facility Closure, Asset Sale, Lawsuit Filed |\n    | `financialEventsNews` | Funding Round, Asset Investment, Strategic Investment, IPO |\n    | `marketIntelligenceNews` | Event Participation, Recognition, Competitor Activity |\n    | `peopleNews` | Executive Hire, Executive Departure, Executive Promotion, Headcount Increase, Headcount Decrease |\n    | `productActivityNews` | Product Launch, Product Development, Product Integration |\n    | `riskNews` | Security Issue, Lawsuit Faced |\n\n\n    > The response also includes available values for signal sub-filters:\n\n      * `newsEventTypes` — available event type values for news signal filtering\n      * `hiringByDepartments` — available department values for hiring surge filtering\n      * `hiringByLocations` — available location values for hiring surge filtering (array of `{ country, state }` objects)\n"
      operationId: getSignalOptions
      parameters:
      - name: objectType
        in: path
        required: true
        description: The type of object to get signal options for
        schema:
          type: string
          enum:
          - contact
          - company
        example: contact
      responses:
        '200':
          description: List of available signal types for the specified object type
          content:
            application/json:
              schema:
                type: object
                properties:
                  signals:
                    type: array
                    items:
                      type: string
                    example:
                    - promotion
                    - companyChange
                  objectType:
                    type: string
                    example: contact
                  filterOptions:
                    type: object
                    description: Available enum values for signal sub-filters. Only present in the `company` response.
                    properties:
                      newsEventTypes:
                        type: array
                        items:
                          type: string
                        description: Available values for the `newsEventTypes` filter
                      hiringByDepartments:
                        type: array
                        items:
                          type: string
                        description: Available values for the `hiringByDepartments` filter
              examples:
                contactSignals:
                  summary: Contact signal options
                  value:
                    signals:
                    - promotion
                    - companyChange
                    - allSignals
                    objectType: contact
                companySignals:
                  summary: Company signal options
                  value:
                    signals:
                    - allSignals
                    - websiteTrafficIncrease
                    - websiteTrafficDecrease
                    - itSpendIncrease
                    - itSpendDecrease
                    - headcountIncrease1m
                    - headcountDecrease1m
                    - headcountIncrease3m
                    - headcountDecrease3m
                    - headcountIncrease6m
                    - headcountDecrease6m
                    - headcountIncrease12m
                    - headcountDecrease12m
                    - surgeInHiring
                    - surgeInHiringByDepartment
                    - surgeInHiringByLocation
                    - riskNews
                    - commercialActivityNews
                    - corporateStrategyNews
                    - financialEventsNews
                    - peopleNews
                    - marketIntelligenceNews
                    - productActivityNews
                    objectType: company
                    filterOptions:
                      newsEventTypes:
                      - Asset Investment
                      - Asset Sale
                      - Competitor Activity
                      - Event Participation
                      - Executive Departure
                      - Executive Hire
                      - Executive Promotion
                      - Facilities Expansion
                      - Facility Closure
                      - Funding Round
                      - Headcount Decrease
                      - Headcount Increase
                      - IPO
                      - Lawsuit Faced
                      - Lawsuit Filed
                      - M&A
                      - New Customer
                      - New Location
                      - New Vendor
                      - Partnership
                      - Product Development
                      - Product Integration
                      - Product Launch
                      - Recognition
                      - Security Issue
                      - Strategic Investment
                      hiringByDepartments:
                      - Business Development
                      - Consulting
                      - Customer Service
                      - Engineering & Technical
                      - Finance
                      - General Management
                      - Health Care & Medical
                      - Human Resources
                      - Information Technology
                      - Legal
                      - Marketing
                      - Operations
                      - Other
                      - Product
                      - Research & Analytics
                      - Sales
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Signals API not supported on your plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /api/signals/contacts:
    post:
      tags:
      - Signals
      summary: Get Contact Signals by IDs
      description: 'Retrieve signals data for a list of contact IDs.

        This endpoint allows you to get recent activities and signals for up to 100 contacts per request.


        *Endpoint*: **(POST) https://api.lusha.com/api/signals/contacts**


        **Default Behavior:**

        - Returns signals from the last 6 months by default

        - Use `startDate` to customize the timeframe

        - Each signal type requested counts towards credit usage

        '
      operationId: getContactSignalsById
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSignalsByIdRequest'
            examples:
              basicExample:
                summary: Basic request
                value:
                  contactIds:
                  - 115889
                  signals:
                  - promotion
                  - companyChange
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 5
              allSignals:
                summary: Request all signal types
                value:
                  contactIds:
                  - 115889
                  signals:
                  - allSignals
                  maxResultsPerSignal: 10
      responses:
        '200':
          description: Contact signals retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSignalsByIdResponse'
              example:
                contacts:
                  '115889':
                    personId: '115889'
                    companyChange:
                    - personId: '115889'
                      currentCompanyId: 8217
                      currentCompanyName: Callaway Golf
                      currentDepartments: R&D
                      currentSeniorityLabel: c-suite
                      currentTitle: Senior Manager, IT Solutions
                      signalDate: '2025-05-01'
                      previousCompanyName: Previous Corp
                      previousDomain: nextgen.com
                      currentDomain: vendavo.com
                    promotion:
                    - personId: '115889'
                      currentCompanyId: 8217
                      currentCompanyName: Callaway Golf
                      currentDepartments: R&D
                      currentSeniorityLabel: c-suite
                      currentTitle: Senior Manager, IT Solutions
                      signalDate: '2025-05-01'
                      previousCompanyName: Previous Corp
                      previousDomain: nextgen.com
                      currentDomain: vendavo.com
                endDate: '2025-07-31'
                startDate: '2025-01-01'
                creditCharged: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '429':
          $ref: '#/components/responses/TooManyRequests_2'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /api/signals/contacts/search:
    post:
      tags:
      - Signals
      summary: Search Contact Signals
      description: 'Search for contact signals using identifiers like LinkedIn URL, email, or name + company.

        This endpoint combines search and signal enrichment in a single request.


        *Endpoint*: **(POST) https://api.lusha.com/api/signals/contacts/search**


        **Search Requirements:**

        Each contact can be identified by:

        - Contact ID

        - LinkedIn URL

        - Email address

        - Full name + Company (name or domain)


        **Default Behavior:**

        - Returns signals from the last 6 months by default

        - Contacts are matched based on provided identifiers

        - Returns both contact data and associated signals

        '
      operationId: searchContactSignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSignalsSearchRequest'
            examples:
              searchByLinkedIn:
                summary: Search by LinkedIn URL (id required)
                value:
                  contacts:
                  - id: '123321'
                    social_link: https://www.linkedin.com/in/ron-nabet
                  signals:
                  - promotion
                  - companyChange
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 5
              searchByEmail:
                summary: Search by email (id required)
                value:
                  contacts:
                  - id: '456654'
                    email: dustin@lusha.com
                  signals:
                  - allSignals
                  maxResultsPerSignal: 10
              searchByNameAndCompany:
                summary: Search by name and company (id required)
                value:
                  contacts:
                  - id: '987789'
                    full_name: Ron Nabet
                    companies:
                    - name: Lusha
                    domain: lusha.com
                    is_current: true
                  signals:
                  - promotion
                  maxResultsPerSignal: 10
      responses:
        '200':
          description: Contact signals search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactSignalsSearchResponse'
              examples:
                success:
                  summary: Contact signals found via search
                  value:
                    contacts:
                      '123321':
                        personId: '115889'
                        companyChange:
                        - personId: '115889'
                          currentCompanyId: 8217
                          currentCompanyName: Callaway Golf
                          currentDepartments: R&D
                          currentSeniorityLabel: c-suite
                          currentTitle: Senior Manager, IT Solutions
                          signalDate: '2025-05-01'
                          previousCompanyName: Previous Corp
                          previousDomain: nextgen.com
                          currentDomain: vendavo.com
                        promotion:
                        - personId: '115889'
                          currentCompanyId: 8217
                          currentCompanyName: Callaway Golf
                          currentDepartments: R&D
                          currentSeniorityLabel: c-suite
                          currentTitle: Senior Manager, IT Solutions
                          signalDate: '2025-05-01'
                          previousCompanyName: Previous Corp
                          previousDomain: nextgen.com
                          currentDomain: vendavo.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '429':
          $ref: '#/components/responses/TooManyRequests_2'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /api/signals/companies:
    post:
      tags:
      - Signals
      summary: Get Company Signals by IDs
      description: 'Retrieve signals data for a list of company IDs.

        This endpoint allows you to get recent activities and signals for up to 100 companies per request.


        *Endpoint*: **(POST) https://api.lusha.com/api/signals/companies**


        **Default Behavior:**

        - Returns signals from the last 6 months by default

        - Use `startDate` to customize the timeframe

        '
      operationId: getCompanySignalsById
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySignalsByIdRequest'
            examples:
              basicExample:
                summary: Basic request
                value:
                  companyIds:
                  - 3416
                  signals:
                  - websiteTrafficIncrease
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 10
              allSignals:
                summary: Request all signals
                value:
                  companyIds:
                  - 3416
                  - 3417
                  signals:
                  - allSignals
                  maxResultsPerSignal: 10
      responses:
        '200':
          description: Company signals retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySignalsByIdResponse'
              examples:
                multipleSignals:
                  summary: Company signals with multiple signal types
                  value:
                    companies:
                      '3416':
                        companyId: '3416'
                        companyName: Test
                        domain: test.com
                        commercialActivityNews:
                        - companyId: '3416'
                          companyName: Lusha
                          domain: lusha.com
                          signalId: '1503910'
                          eventType: partnership
                          eventSummary: Lusha announced a strategic partnership with Salesforce.
                          articlePublishedDate: '2025-06-15'
                          articleTitle: Lusha Partners with Salesforce
                          articleHighlight: The partnership enables Salesforce users to access Lusha data directly within their CRM.
                          eventEffectiveDate: '2025-06-10'
                          articleUrl: https://example.com/lusha-salesforce-partnership
                        websiteTrafficIncrease:
                        - companyId: '3416'
                          signalId: '1503902'
                          signalDate: '2025-06-15'
                          historicalAvg: 50000
                          lastMonthVisits: 75000
                          changeRatePercent: 50
                          companyName: Test
                          domain: test.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 2
                surgeInHiringExample:
                  summary: Overall hiring surge signal
                  value:
                    companies:
                      '3416':
                        companyId: '3416'
                        companyName: Lusha
                        domain: lusha.com
                        surgeInHiring:
                        - companyId: '3416'
                          signalId: '1503905'
                          signalDate: '2025-06-15'
                          newJobsPostedLastWeek: 25
                          historicalAvg: 10
                          changeRatePercent: 150
                          companyName: Lusha
                          domain: lusha.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '429':
          $ref: '#/components/responses/TooManyRequests_2'
    servers:
    - url: https://api.lusha.com
      description: Production server
  /api/signals/companies/search:
    post:
      tags:
      - Signals
      summary: Search Company Signals
      description: 'Search for company signals using identifiers like domain, company name, or ID.

        This endpoint combines search and signal enrichment in a single request.


        *Endpoint*: **(POST) https://api.lusha.com/api/signals/companies/search**


        **Search Requirements:**

        Each company must have at least one identifier:

        - Company ID (as string)

        - Company name

        - Company domain


        **Default Behavior:**

        - Returns signals from the last 6 months by default

        - Companies are matched based on provided identifiers

        '
      operationId: searchCompanySignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanySignalsSearchRequest'
            examples:
              searchByDomain:
                summary: Search by domain (id required)
                value:
                  companies:
                  - id: '12344321'
                    domain: lusha.com
                  signals:
                  - itSpendIncrease
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 10
              searchByName:
                summary: Search by company name (id required)
                value:
                  companies:
                  - id: '123123'
                    name: Lusha
                  signals:
                  - allSignals
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 10
              multipleCompanies:
                summary: Search multiple companies with different identifiers
                value:
                  companies:
                  - id: '123123'
                    name: Arcmedix
                  - id: '12344321'
                    domain: lusha.com
                  - id: '1234434421'
                    domain: example.com
                  signals:
                  - itSpendIncrease
                  startDate: '2025-01-01'
                  maxResultsPerSignal: 10
      responses:
        '200':
          description: Company signals search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySignalsByIdResponse'
              examples:
                multipleSignals:
                  summary: Multiple signal types found via search
                  value:
                    companies:
                      '12344321':
                        companyId: '3416'
                        companyName: Lusha
                        domain: lusha.com
                        commercialActivityNews:
                        - companyId: '3416'
                          companyName: Lusha
                          domain: lusha.com
                          signalId: '1503910'
                          eventType: partnership
                          eventSummary: Lusha announced a strategic partnership with Salesforce.
                          articlePublishedDate: '2025-06-15'
                          articleTitle: Lusha Partners with Salesforce
                          articleHighlight: The partnership enables Salesforce users to access Lusha data directly within their CRM.
                          eventEffectiveDate: '2025-06-10'
                          articleUrl: https://example.com/lusha-salesforce-partnership
                        itSpendIncrease:
                        - companyId: '3416'
                          signalId: '1503903'
                          signalDate: '2025-06-15'
                          estimatedAnnualItSpend: 5000000
                          changeRatePercent: 25
                          companyName: Lusha
                          domain: lusha.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 2
                headcountSignal:
                  summary: Headcount increase signal
                  value:
                    companies:
                      '12344321':
                        companyId: '3416'
                        companyName: Lusha
                        domain: lusha.com
                        headcountIncrease3m:
                        - companyId: '3416'
                          signalId: '1503904'
                          signalDate: '2025-06-15'
                          baselineEmployeesCount: 500
                          newEmployeesCount: 550
                          changeRatePercent: 10
                          companyName: Lusha
                          domain: lusha.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 1
                hiringByDepartment:
                  summary: Department-specific hiring surge
                  value:
                    companies:
                      '12344321':
                        companyId: '3416'
                        companyName: Lusha
                        domain: lusha.com
                        surgeInHiringByDepartment:
                        - signalId: '1503906'
                          companyId: '3416'
                          department: Engineering
                          signalDate: '2025-06-15'
                          newJobsPostedLast4Weeks: 15
                          historicalAvg: 5
                          changeRatePercent: 200
                          companyName: Lusha
                          domain: lusha.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 1
                hiringByLocation:
                  summary: Location-specific hiring surge
                  value:
                    companies:
                      '12344321':
                        companyId: '3416'
                        companyName: Lusha
                        domain: lusha.com
                        surgeInHiringByLocation:
                        - signalId: '1503907'
                          companyId: '3416'
                          country: United States
                          state: California
                          signalDate: '2025-06-15'
                          newJobsPostedLast4Weeks: 20
                          historicalAvg: 8
                          changeRatePercent: 150
                          companyName: Lusha
                          domain: lusha.com
                    endDate: '2025-07-31'
                    startDate: '2025-01-01'
                    creditCharged: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '429':
          $ref: '#/components/responses/TooManyRequests_2'
    servers:
    - url: https://api.lusha.com
      description: Production server
components:
  schemas:
    V3SignalScoreContactsResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 5d6f13d2-f6b0-4e55-85d5-04e17f932c1a
        results:
          type: array
          items:
            $ref: '#/components/schemas/V3SignalScoreContactResult'
        billing:
          $ref: '#/components/schemas/V3Billing'
    LinkedinActivityIntentCompanyMention:
      type: object
      description: A company referenced in a LinkedIn activity intent post.
      properties:
        id:
          type:
          - string
          - 'null'
          description: Lusha company ID, or null if the company couldn't be resolved to a Lusha record.
          example: '16303253'
        name:
          type: string
          example: Lusha
        linkedinUrl:
          type: string
          example: https://www.linkedin.com/company/lushadata
    V3SignalScoreContactsRequest:
      type: object
      required:
      - contacts
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/V3SignalScoreContactItem'
          minItems: 1
          maxItems: 100
    V3SignalScoreCompaniesRequest:
      type: object
      required:
      - companies
      properties:
        companies:
          type: array
          items:
            $ref: '#/components/schemas/V3SignalScoreCompanyItem'
          minItems: 1
          maxItems: 100
    LinkedinActivityIntentTopic:
      type: object
      properties:
        topic:
          type: string
          example: Cloud Security
        category:
          type: string
          example: Technology
    LinkedinActivityIntentItem:
      type: object
      properties:
        companyId:
          type: number
          description: Lusha company ID this activity belongs to.
          example: 16303253
        activityPublicationDate:
          type: string
          format: date
          description: Date the post was published.
          example: '2026-05-12'
        signalCategory:
          type: string
          description: Post classification.
          example: Technology or Stack Discussion
        intentTopics:
          type: array
          description: Detected Bombora topics and their category.
          items:
            $ref: '#/components/schemas/LinkedinActivityIntentTopic'
        author:
          $ref: '#/components/schemas/LinkedinActivityIntentPerson'
        contactsMentioned:
          type: array
          items:
            $ref: '#/components/schemas/LinkedinActivityIntentPerson'
        companiesMentioned:
          type: array
          items:
            $ref: '#/components/schemas/LinkedinActivityIntentCompanyMention'
        activityUrl:
          type: string
          description: URL of the source post.
          example: https://www.linkedin.com/feed/update/urn:li:activity:1234567890
        activitySummary:
          type:
          - string
          - 'null'
          description: AI-generated summary. Never contains the raw post text.
          example: Discusses adopting a new cloud security stack ahead of Q3 rollout.
        activityLikes:
          type: integer
          default: 0
          example: 42
        activityComments:
          type: integer
          default: 0
          example: 5
        activityShares:
          type: integer
          default: 0
          example: 3
        activityType:
          type: string
          example: post
    V3CompanySignalsRequest:
      type: object
      required:
      - ids
      - signalTypes
      properties:
        ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 100
          example:
          - '16303253'
        signalTypes:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - linkedinActivityIntent
            - websiteTrafficDecrease
            - websiteTrafficIncrease
            - itSpendIncrease
            - itSpendDecrease
            - surgeInHiring
            - headcountIncrease1m
            - headcountIncrease3m
            - headcountIncrease6m
            - headcountIncrease12m
            - headcountDecrease1m
            - headcountDecrease3m
            - headcountDecrease6m
            - headcountDecrease12m
            - surgeInHiringByDepartment
            - surgeInHiringByLocation
            - riskNews
            - commercialActivityNews
            - corporateStrategyNews
            - financialEventsNews
            - peopleNews
            - marketIntelligenceNews
            - productActivityNews
          example:
          - allSignals
        startDate:
          type: string
          format: date
          description: 'For linkedinActivityIntent, results are limited to a trailing 90-day window regardless of the value passed (legal requirement). Other signal types are unaffected.

            '
          example: '2025-01-01'
        maxResultsPerSignal:
          type: integer
          minimum: 1
          maximum: 100
          description: 'For linkedinActivityIntent, results are capped at 50 per company regardless of the value passed. Other signal types use the requested value as-is (1-100).

            '
          example: 10
        tableId:
          type: string
          description: Optional. If provided, these companies are also added to this table (if not already present) and the Signals column is populated. See the Tables API.
          example: '583021'
        filters:
          type: object
          properties:
            include:
              type: object
              properties:
                intentCategories:
                  type: array
                  items:
                    type: string
                  description: 'Refines linkedinActivityIntent results by Bombora intent category. Only applies when linkedinActivityIntent is requested (via signalTypes or allSignals). See GET /v3/companies/signals/filters/intentCategories for valid values.

                    '
                  example:
                  - Technology
                  - Business
    V3ContactSignalsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: '4389064624'
              companyChange:
                type: array
                items:
                  type: object
              promotion:
                type: array
                items:
                  type: object
        startDate:
          type: string
        endDate:
          type: string
        tableWrite:
          $ref: '#/components/schemas/TableWrite'
        billing:
          $ref: '#/components/schemas/V3Billing'
    ErrorResponse:
      type: object
      required:
      - statusCode
      - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages (optional, only for validation errors)
          example:
          - 'entityType must be one of: contact, company'
    CompanySignalTypesResponse:
      type: object
      properties:
        signalTypes:
          type: array
          items:
            type: string
    V3SignalScoreCompaniesResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 5d6f13d2-f6b0-4e55-85d5-04e17f932c1a
        results:
          type: array
          items:
            $ref: '#/components/schemas/V3SignalScoreCompanyResult'
        billing:
          $ref: '#/components/schemas/V3Billing'
    V3CompanySignalsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: '16303253'
              companyName:
                type: string
                example: Lusha
              domain:
                type: string
                example: lusha.com
              linkedinActivityIntent:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedinActivityIntentItem'
            additionalProperties:
              type: array
              items:
                type: object
                additionalProperties: true
        startDate:
          type: string
        endDate:
          type: string
        tableWrite:
          $ref: '#/components/schemas/TableWrite'
        billing:
          $ref: '#/components/schemas/V3Billing'
    V3SignalScoreCompanyItem:
      type: object
      description: Must contain exactly one of id, domain, name, or email.
      properties:
        clientReferenceId:
          type: string
          maxLength: 256
          description: Caller-supplied token echoed back on the matching result.
          example: ref-1
        id:
          type: string
          description: Encrypted Lusha company ID (vN.…). Legacy numeric IDs accepted during the transition window.
          example: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
        domain:
          type: string
          example: www.microsoft.com
        name:
          type: string
          example: Apple
        email:
          type: string
          format: email
          description: Must be a valid email address; only the domain part is used for resolution. A malformed email is rejected with 400.
          example: jane@acme.com
    V3ItemError:
      type: object
      description: Per-item error in a batch response
      properties:
        code:
          type: string
          enum:
          - NOT_FOUND
          - COMPLIANCE_RESTRICTED
          - ENRICH_FAILED
          - NO_SCORE
          example: NOT_FOUND
        message:
          type: string
          example: Contact not found
    TableWrite:
      type: object
      description: 'Added to a Prospecting, Enrich, Signals, or Lookalike response when `tableId` is passed on the request. The primary response is unaffected even if the table write fails.

        '
      properties:
        tableId:
          type: string
          example: '482910'
        added:
          type: integer
          description: Number of new entities added to the table by this call.
          example: 3
        alreadyPresent:
          type: integer
          description: Number of entities from this call that were already in the table.
          example: 2
        columnsCreated:
          type: integer
          description: Number of columns auto-created by this call (e.g. a Signals column created on first use).
          example: 0
        rowsProcessed:
          type: integer
          description: Number of rows the column-run touched as part of this call.
          example: 5
        rowsCharged:
          type: integer
          description: Number of those rows that incurred a credit charge.
          example: 5
        rowsAlreadyPaidInTable:
          type: integer
          description: Number of those rows that were already paid for in this table and were not re-charged.
          example: 0
        creditsCharged:
          type: integer
          description: Credits charged specifically for this table write.
          example: 0
    ContactSignalTypesResponse:
      type: object
      properties:
        signalTypes:
          type: array
          items:
            type: string
          example:
          - allSignals
          - promotion
          - companyChange
    V3SignalScoreCompanyResult:
      type: object
      description: A scored entry, or an error entry with NOT_FOUND / NO_SCORE instead of the score fields.
      properties:
        clientReferenceId:
          type: string
          example: ref-1
        id:
          type: string
          description: Encrypted Lusha company ID for scored entries. On NOT_FOUND, echoes the supplied domain/name (or the derived domain, for an email request).
          example: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
        name:
          type: string
          example: Acme Corp
        domain:
          type: string
          example: www.acmecorp.io
        signalScore:
          type: number
          minimum: 0
          maximum: 1
          description: Aggregate signal score - the fraction of the company's active signals. Absent on error entries.
          example: 0.42
        signalTypes:
          type: array
          description: Signal types currently active for this company (canonical camelCase). Absent on error entries.
          items:
            type: string
          example:
          - hiringSignalIncrease
          - websiteVisit
        noActiveSignals:
          type: boolean
          description: True when the company resolved and scored but has no active signals (signalScore is 0). Absent on error entries.
          example: false
        error:
          $ref: '#/components/schemas/V3ItemError'
    FilterValuesResponse:
      type: object
      properties:
        values:
          description: Filter values (shape depends on filter type)
    V3SignalScoreContactResult:
      type: object
      description: A scored entry, or an error entry with NOT_FOUND / NO_SCORE instead of the score fields.
      properties:
        clientReferenceId:
          type: string
          example: ref-1
        id:
          type: string
          description: Encrypted Lusha contact ID for scored entries. On NOT_FOUND, echoes the supplied id, if one was given.
          example: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
        fullName:
          type: string
          example: Jane Doe
        company:
          $ref: '#/components/schemas/V3SignalScoreContactCompanyRef'
        signalScore:
          type: number
          minimum: 0
          maximum: 1
          description: Aggregate signal score. Absent on error entries.
          example: 0.3
        signalTypes:
          type: array
          description: Signal types currently active for this contact (canonical camelCase). Absent on error entries.
          items:
            type: string
          example:
          - promotion
        noActiveSignals:
          type: boolean
          description: True when the contact resolved and scored but has no active signals (signalScore is 0). Absent on error entries.
          example: false
        error:
          $ref: '#/components/schemas/V3ItemError'
    FilterTypesDiscoveryResponse:
      type: object
      properties:
        availableFilters:
          type: array
          items:
            type: object
            properties:
              filterType:
                type: string
              requiresQuery:
                type: boolean
    V3SignalScoreContactCompanyRef:
      type: object
      description: Company the contact was scored at.
      properties:
        id:
          type: string
          example: v1.6789ZyXwVuTsRqPoNmLkJiHgFeDcBa01
        name:
          type: string
          example: Acme Corp
        domain:
          type: string
          example: acme.com
    V3ContactSignalsRequest:
      type: object
      required:
      - ids
      - signalTypes
      properties:
        ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 100
          example:
          - '4389064624'
          - '4389064654'
        signalTypes:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - promotion
            - companyChange
          example:
          - allSignals
        startDate:
          type: string
          format: date
          example: '2025-01-01'
        maxResultsPerSignal:
          type: integer
          minimum: 1
          maximum: 100
          example: 10
        tableId:
          type: string
          description: Optional. If provided, these contacts are also added to this table (if not already present) and the Signals column is populated. See the Tables API.
          example: '482910'
    V3SignalScoreContactItem:
      type: object
      description: 'Must contain id, linkedinUrl, email, or firstName + lastName + (companyName | companyDomain).

        '
      properties:
        clientReferenceId:
          type: string
          maxLength: 256
          example: ref-1
        id:
          type: string
          description: Encrypted Lusha contact ID (vN.…).
          example: v1.AbCdEfGhIjKlMnOpQrStUvWxYz012345
        linkedinUrl:
          type: string
          example: https://linkedin.com/in/johndoe
        email:
          type: string
          format: email
          example: jane.doe@acme.com
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Doe
        companyName:
          type: string
          example: Acme Corp
        companyDomain:
          type: string
          example: acme.com
    LinkedinActivityIntentPerson:
      type: object
      description: A person referenced in a LinkedIn activity intent post (author or mention).
      properties:
        id:
          type:
          - string
          - 'null'
          description: Lusha contact ID, or null if the person couldn't be resolved to a Lusha record.
          example: '4389064624'
        fullName:
          type: string
          example: Daniel Turgeman
        linkedinUrl:
          type: string
          example: https://www.linkedin.com/in/daniel-turgeman-49676b161
    V3Billing:
      type: object
      description: Credit usage summary for a V3 API request
      properties:
        creditsCharged:
          type: integer
          description: Total credits charged for this request
          example: 3
        resultsReturned:
          type: integer
          description: Number of successful results returned
          example: 1
    ContactSignalsSearchResponse:
      type: object
      properties:
        contacts:
          type: object
          additionalProperties:
            type: object
            properties:
              personId:
                type: string
                example: '115889'
              companyChange:
                type: array
                items:
                  $ref: '#/components/schemas/ContactSignal'
              promotion:
                type: array
                items:
                  $ref: '#/components/schemas/ContactSignal'
        endDate:
          type: string
          format: date
          example: '2025-07-31'
        startDate:
          type: string
          format: date
          example: '2025-01-01'
        creditCharged:
          type: integer
          example: 2
    CompanyHeadcountChangeSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503904'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        baselineEmployeesCount:
          type: number
          example: 500
        newEmployeesCount:
          type: number
          example: 550
        changeRatePercent:
          type: number
          example: 10
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanySignalFiltersInclude:
      type: object
      description: 'Optional sub-filters to narrow results within a signal type.

        - Multi-value filters use **OR** logic

        - Filter values are **not** case-sensitive

        - `state` without `country` in `hiringByLocations` returns HTTP **400**

        '
      properties:
        newsEventTypes:
          type: array
          items:
            type: string
            enum:
            - Asset Investment
            - Asset Sale
            - Competitor Activity
            - Event Participation
            - Executive Departure
            - Executive Hire
            - Executive Promotion
            - Facilities Expansion
            - Facility Closure
            - Funding Round
            - Headcount Decrease
            - Headcount Increase
            - IPO
            - Lawsuit Faced
            - Lawsuit Filed
            - M&A
            - New Customer
            - New Location
            - New Vendor
            - Partnership
            - Product Development
            - Product Integration
            - Product Launch
            - Recognition
            - Security Issue
            - Strategic Investment
          example:
          - Partnership
          - New Customer
        hiringByDepartments:
          type: array
          items:
            type: string
            enum:
            - Business Development
            - Consulting
            - Customer Service
            - Engineering & Technical
            - Finance
            - General Management
            - Health Care & Medical
            - Human Resources
            - Information Technology
            - Legal
            - Marketing
            - Operations
            - Other
            - Product
            - Research & Analytics
            - Sales
          example:
          - Engineering & Technical
          - Sales
        hiringByLocations:
          type: array
          items:
            $ref: '#/components/schemas/SignalFilterLocation'
          example:
          - country: United States
            state: California
          - country: Germany
    CompanySignalData:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
        riskNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        commercialActivityNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        corporateStrategyNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        financialEventsNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        peopleNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        marketIntelligenceNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        productActivityNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        surgeInHiring:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringSignal'
        surgeInHiringByDepartment:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByDepartmentSignal'
        surgeInHiringByLocation:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByLocationSignal'
        websiteTrafficIncrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        websiteTrafficDecrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        itSpendIncrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        itSpendDecrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        headcountIncrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
    ContactSignalData:
      type: object
      properties:
        personId:
          type: string
          example: '115889'
        companyChange:
          type: array
          items:
            $ref: '#/components/schemas/ContactSignal'
        promotion:
          type: array
          items:
            $ref: '#/components/schemas/ContactSignal'
    CompanySurgeInHiringSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503905'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLastWeek:
          type: number
          example: 25
        historicalAvg:
          type: number
          example: 10
        changeRatePercent:
          type: number
          example: 150
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanySignalsSearchRequest:
      type: object
      required:
      - companies
      - signals
      properties:
        companies:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: string
                example: '12345'
              name:
                type: string
                example: Lusha
              domain:
                type: string
                example: lusha.com
        signals:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - websiteTrafficIncrease
            - websiteTrafficDecrease
            - itSpendIncrease
            - itSpendDecrease
            - headcountIncrease1m
            - headcountDecrease1m
            - headcountIncrease3m
            - headcountDecrease3m
            - headcountIncrease6m
            - headcountDecrease6m
            - headcountIncrease12m
            - headcountDecrease12m
            - surgeInHiring
            - surgeInHiringByDepartment
            - surgeInHiringByLocation
            - riskNews
            - commercialActivityNews
            - corporateStrategyNews
            - financialEventsNews
            - peopleNews
            - marketIntelligenceNews
            - productActivityNews
          example:
          - itSpendIncrease
        startDate:
          type: string
          format: date
          example: '2025-01-01'
        maxResultsPerSignal:
          type: integer
          example: 10
        filters:
          type: object
          properties:
            include:
              $ref: '#/components/schemas/CompanySignalFiltersInclude'
    CompanySignalsByIdRequest:
      type: object
      required:
      - companyIds
      - signals
      properties:
        companyIds:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: integer
          example:
          - 3416
        signals:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - websiteTrafficIncrease
            - websiteTrafficDecrease
            - itSpendIncrease
            - itSpendDecrease
            - headcountIncrease1m
            - headcountDecrease1m
            - headcountIncrease3m
            - headcountDecrease3m
            - headcountIncrease6m
            - headcountDecrease6m
            - headcountIncrease12m
            - headcountDecrease12m
            - surgeInHiring
            - surgeInHiringByDepartment
            - surgeInHiringByLocation
            - riskNews
            - commercialActivityNews
            - corporateStrategyNews
            - financialEventsNews
            - peopleNews
            - marketIntelligenceNews
            - productActivityNews
          example: websiteTrafficIncrease
        startDate:
          type: string
          format: date
          example: '2025-03-01'
        maxResultsPerSignal:
          type: integer
          example: 10
        filters:
          type: object
          properties:
            include:
              $ref: '#/components/schemas/CompanySignalFiltersInclude'
    CompanySurgeInHiringByDepartmentSignal:
      type: object
      properties:
        signalId:
          type: string
          example: '1503906'
        companyId:
          type: string
          example: '3416'
        department:
          type: string
          example: Engineering
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLast4Weeks:
          type: number
          example: 15
        historicalAvg:
          type: number
          example: 5
        changeRatePercent:
          type: number
          example: 200
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    SignalFilterLocation:
      type: object
      description: 'Location filter for hiring signals. `country` is required; `state` is optional.

        '
      required:
      - country
      properties:
        country:
          type: string
          example: United States
        state:
          type: string
          example: California
    CompanySurgeInHiringByLocationSignal:
      type: object
      properties:
        signalId:
          type: string
          example: '1503907'
        companyId:
          type: string
          example: '3416'
        country:
          type: string
          example: United States
        state:
          type: string
          example: California
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLast4Weeks:
          type: number
          example: 20
        historicalAvg:
          type: number
          example: 8
        changeRatePercent:
          type: number
          example: 150
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanyNewsSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '33222678'
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
        signalId:
          type: string
          example: '1503910'
        eventType:
          type: string
          example: partnership
        eventSummary:
          type: string
          example: Lusha announced a strategic partnership with Salesforce.
        articlePublishedDate:
          type: string
          format: date
          example: '2025-06-15'
        articleTitle:
          type: string
          example: Lusha Partners with Salesforce
        articleHighlight:
          type: string
          example: The partnership enables Salesforce users to access Lusha data directly within their CRM.
        eventEffectiveDate:
          type: string
          format: date
          example: '2025-06-10'
        articleUrl:
          type: string
          format: uri
          example: https://example.com/lusha-salesforce-partnership
    ContactSignalsByIdRequest:
      type: object
      required:
      - contactIds
      - signals
      properties:
        contactIds:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: integer
          example:
          - 115889
        signals:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - promotion
            - companyChange
          example:
          - promotion
          - companyChange
        startDate:
          type: string
          format: date
          example: '2025-03-01'
        maxResultsPerSignal:
          type: integer
          example: 10
    ContactSignalsSearchRequest:
      type: object
      required:
      - signals
      - contacts
      properties:
        contacts:
          type: array
          items:
            type: object
            required:
            - id
            properties:
              id:
                type: string
                example: '12345'
              social_link:
                type: string
                format: uri
                example: https://www.linkedin.com/in/ron-nabet
              full_name:
                type: string
                example: Ron Nabet
              email:
                type: string
                format: email
                example: dustin@lusha.com
              companies:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - domain
                  properties:
                    name:
                      type: string
                      example: Lusha
                    domain:
                      type: string
                      example: lusha.com
                    is_current:
                      type: boolean
                      default: true
                      example: true
        signals:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - promotion
            - companyChange
          example:
          - promotion
          - companyChange
        startDate:
          type: string
          format: date
          example: '2025-01-01'
        maxResultsPerSignal:
          type: integer
          example: 10
    CompanySignalsByIdResponse:
      type: object
      properties:
        companies:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CompanySignalData'
        endDate:
          type: string
          format: date
          example: '2025-07-31'
        startDate:
          type: string
          format: date
          example: '2025-01-01'
        creditCharged:
          type: integer
          example: 3
    CompanyWebsiteTrafficSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503902'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        historicalAvg:
          type: number
          example: 50000
        lastMonthVisits:
          type: number
          example: 75000
        changeRatePercent:
          type: number
          example: 50
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    ContactSignalsByIdResponse:
      type: object
      properties:
        contacts:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ContactSignalData'
        endDate:
          type: string
          format: date
          example: '2025-07-31'
        startDate:
          type: string
          format: date
          example: '2025-03-01'
        creditCharged:
          type: integer
          example: 2
    CompanyItSpendSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503903'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        estimatedAnnualItSpend:
          type: number
          example: 5000000
        changeRatePercent:
          type: number
          example: 25
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    ContactSignal:
      type: object
      properties:
        personId:
          type: string
          example: '115889'
        currentCompanyId:
          type: integer
          example: 8217
        currentCompanyName:
          type: string
          example: Callaway Golf
        currentDepartments:
          type: string
          example: R&D
        currentSeniorityLabel:
          type: string
          example: c-suite
        currentTitle:
          type: string
          example: Senior Manager, IT Solutions
        signalDate:
          type: string
          format: date
          example: '2025-05-01'
        previousCompanyName:
          type: string
          example: Previous Corp
        previousDomain:
          type: string
          example: nextgen.com
        currentDomain:
          type: string
          example: vendavo.com
  responses:
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 429
            message: Too many requests. Please wait before making another request.
      headers:
        x-rate-limit-daily:
          description: Total requests allowed per day
          schema:
            type: integer
        x-daily-requests-left:
          description: Requests remaining in daily quota
          schema:
            type: integer
        x-rate-limit-hourly:
          description: Total requests allowed per hour
          schema:
            type: integer
        x-hourly-requests-left:
          description: Requests remaining in hourly quota
          schema:
            type: integer
        x-rate-limit-minute:
          description: Total requests allowed per minute
          schema:
            type: integer
        x-minute-requests-left:
          description: Requests remaining in current minute window
          schema:
            type: integer
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Invalid API key
    Forbidden:
      description: Forbidden - account inactive, V3 access not enabled, or plan does not include this feature
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accountInactive:
              summary: Account inactive
              value:
                statusCode: 403
                message: Your account is not active. Please reach out to support at support@lusha.com
            v3NotEnabled:
              summary: V3 access not enabled
              value:
                statusCode: 403
                message: V3 API access is not enabled for your account
    BadRequest:
      description: Bad request - invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 400
            message: Invalid request parameters
    BadGateway:
      description: Bad gateway - upstream identity resolution provider is unavailable. Retryable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 502
            message: Identity resolution provider is temporarily unavailable. Retry with backoff.
    PaymentRequired:
      description: Payment required - insufficient credits
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 402
            message: Insufficient credits for this operation
    TooManyRequests_2:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 429
            message: Too many requests. Please wait before making another request.
      headers:
        RateLimit-Limit:
          description: The total number of allowed requests per second
          schema:
            type: integer
        RateLimit-Remaining:
          description: The number of remaining requests in the current window
          schema:
            type: integer
        RateLimit-Reset:
          description: The time (in seconds) until the rate limit quota is reset
          schema:
            type: integer
        X-RateLimit-Remaining-Daily:
          description: The number of remaining requests for your daily quota
          schema:
            type: integer
        X-RateLimit-Reset-Daily:
          description: The time when your daily quota will reset
          schema:
            type: integer
    Forbidden_2:
      description: Forbidden - account inactive or feature not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accountInactive:
              summary: Account inactive
              value:
                statusCode: 403
                message: Your account is not active. Please reach out to support at support@lusha.com
            featureNotAvailable:
              summary: Feature not available for pricing plan
              value:
                statusCode: 403
                message: Your pricing version does not support requesting individual datapoints [revealEmails, revealPhones]
            subscriptionLimitReached:
              summary: Subscription limit reached
              value:
                statusCode: 403
                message: Maximum subscriptions limit reached for your account
            dncNotSupported:
              summary: DNC filter not supported on current plan
              value:
                statusCode: 403
                message: Exclude DNC is not supported on your current plan. Please contact support or your account manager for assistance.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: 'Your Lusha API key. You can find this in your Lusha dashboard under API settings.

        Include this key in the `api_key` header for all requests.

        '
x-refined-from:
- lusha-openapi.yml
- lusha-v2-openapi.yaml
