openapi: 3.2.0
info:
  title: Lusha API Documentation Account API
  version: ''
  x-logo:
    url: https://www.lusha.com/logo.png
  license:
    name: Proprietary
    url: https://lusha.com/legal/terms
  description: '**This is the Lusha API V3 documentation.**


    V3 introduces a new search-then-enrich pattern, bulk operations, AI-powered lookalikes, and richer filter capabilities.'
  contact:
    name: Lusha Support
    url: https://api.lusha.com
    email: support@lusha.com
  termsOfService: https://lusha.com/legal/terms
  x-privacy-policy:
    name: Privacy Policy
    url: https://lusha.com/legal/privacy-notice/
servers:
- url: https://api.lusha.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Account
  description: '**Account API:** Retrieve account usage, credit balance, rate limits, plan details, and pricing.


    Use this endpoint to monitor consumption and understand the credit cost of each action type in the public API flow.


    > **Rate limit:** 5 requests per minute.'
  x-tag-expanded: true
paths:
  /v3/account/usage:
    get:
      tags:
      - Account
      summary: Get Account Usage
      operationId: getAccountUsage
      description: 'Returns a full snapshot of your account status:

        - **Credits** — total, used, and remaining for the current billing cycle

        - **Rate limits** — current usage and reset times for daily, hourly, and per-minute windows

        - **Plan** — your current plan category and renewal dates

        - **Pricing** — credit cost per action type across all public API endpoints


        > **Rate limit:** This endpoint is limited to 5 requests per minute.'
      responses:
        '200':
          description: Successfully retrieved account usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUsageResponse'
              example:
                credits:
                  total: 10000
                  used: 1500
                  remaining: 8500
                rateLimits:
                  daily:
                    limit: 5000
                    used: 120
                    remaining: 4880
                    resetsAt: '2026-03-31T00:00:00.000Z'
                plan:
                  category: professional
                  renewalType: annual
                  startDate: '2026-01-01T00:00:00.000Z'
                  endDate: '2027-01-01T00:00:00.000Z'
                pricing:
                  revealEmail:
                    credits: 1
                    perQuantity: 1
                  revealPhone:
                    credits: 5
                    perQuantity: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - statusCode
      - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages (optional, only for validation errors)
          example:
          - 'entityType must be one of: contact, company'
    PlanInfo:
      type: object
      properties:
        category:
          type: string
          example: professional
        renewalType:
          type: string
          example: annual
        startDate:
          type: string
          format: date-time
          example: '2026-01-01T00:00:00.000Z'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
          description: Renewal/end date. Omitted (null) for free accounts, since they have no renewal cycle.
          example: '2027-01-01T00:00:00.000Z'
    RateLimits:
      type: object
      properties:
        daily:
          allOf:
          - $ref: '#/components/schemas/RateLimitTier'
        hourly:
          allOf:
          - $ref: '#/components/schemas/RateLimitTier'
        minute:
          allOf:
          - $ref: '#/components/schemas/RateLimitTier'
    RateLimitTier:
      type: object
      properties:
        limit:
          type: number
          example: 5000
        used:
          type: number
          example: 120
        remaining:
          type: number
          example: 4880
        resetsAt:
          type: string
          format: date-time
          example: '2026-03-31T00:00:00.000Z'
    AccountUsageResponse:
      type: object
      properties:
        credits:
          $ref: '#/components/schemas/CreditsUsage'
        rateLimits:
          $ref: '#/components/schemas/RateLimits'
        plan:
          $ref: '#/components/schemas/PlanInfo'
        pricing:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PricingEntry'
    CreditsUsage:
      type: object
      properties:
        total:
          type: number
          example: 10000
        used:
          type: number
          example: 1500
        remaining:
          type: number
          example: 8500
    PricingEntry:
      type: object
      properties:
        credits:
          type: number
          example: 1
        perQuantity:
          type: number
          example: 25
  responses:
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 429
            message: Too many requests. Please wait before making another request.
      headers:
        x-rate-limit-daily:
          description: Total requests allowed per day
          schema:
            type: integer
        x-daily-requests-left:
          description: Requests remaining in daily quota
          schema:
            type: integer
        x-rate-limit-hourly:
          description: Total requests allowed per hour
          schema:
            type: integer
        x-hourly-requests-left:
          description: Requests remaining in hourly quota
          schema:
            type: integer
        x-rate-limit-minute:
          description: Total requests allowed per minute
          schema:
            type: integer
        x-minute-requests-left:
          description: Requests remaining in current minute window
          schema:
            type: integer
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Invalid API key
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 500
            message: Internal server error. Please try again later.
    Forbidden:
      description: Forbidden - account inactive, V3 access not enabled, or plan does not include this feature
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accountInactive:
              summary: Account inactive
              value:
                statusCode: 403
                message: Your account is not active. Please reach out to support at support@lusha.com
            v3NotEnabled:
              summary: V3 access not enabled
              value:
                statusCode: 403
                message: V3 API access is not enabled for your account
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: 'Your Lusha API key. You can find this in your Lusha dashboard under API settings.

        Include this key in the `api_key` header for all requests.

        '
