openapi: 3.1.0
info:
  title: Lusha API
  description: >-
    Lusha is a B2B sales intelligence platform offering verified contact and
    company data. The platform exposes four REST APIs (Enrichment, Prospecting,
    Signals, Lookalike) plus webhook subscriptions and an account usage
    endpoint. Authentication is via an api_key header generated in the Lusha
    dashboard.
  version: "3.0.0"
  contact:
    name: Lusha
    url: https://docs.lusha.com/apis
servers:
  - url: https://api.lusha.com
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Enrichment
    description: Reveal contact and company details from identifiers
  - name: Prospecting
    description: Filter-based contact and company search
  - name: Lookalike
    description: AI-powered similar contact and company recommendations
  - name: Signals
    description: Buying-intent and account signals
  - name: Filters
    description: Filter discovery endpoints for prospecting and signals
  - name: Webhooks
    description: Signal-subscription webhook management
  - name: Account
    description: Account usage, credits, and webhook-secret administration
paths:
  /v3/contacts/search:
    post:
      tags: [Enrichment]
      summary: Search contacts
      description: Find contacts by identifier (email, LinkedIn URL, name + company, etc.).
      operationId: searchContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
  /v3/contacts/enrich:
    post:
      tags: [Enrichment]
      summary: Enrich contacts
      description: Reveal full contact data (verified emails, phones) for a set of contact IDs.
      operationId: enrichContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Enriched contacts
  /v3/contacts/search-and-enrich:
    post:
      tags: [Enrichment]
      summary: Search and enrich contacts in a single call
      operationId: searchAndEnrichContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Enriched contact results
  /v3/companies/search:
    post:
      tags: [Enrichment]
      summary: Search companies
      operationId: searchCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Company search results
  /v3/companies/enrich:
    post:
      tags: [Enrichment]
      summary: Enrich companies
      operationId: enrichCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Enriched companies
  /v3/companies/search-and-enrich:
    post:
      tags: [Enrichment]
      summary: Search and enrich companies in a single call
      operationId: searchAndEnrichCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Enriched company results
  /v3/contacts/prospecting:
    post:
      tags: [Prospecting]
      summary: Filter-based contact prospecting
      operationId: prospectContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Matching contacts
  /v3/companies/prospecting:
    post:
      tags: [Prospecting]
      summary: Filter-based company prospecting
      operationId: prospectCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Matching companies
  /v3/contacts/lookalike:
    post:
      tags: [Lookalike]
      summary: Find lookalike contacts
      operationId: lookalikeContacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Similar contact recommendations
  /v3/companies/lookalike:
    post:
      tags: [Lookalike]
      summary: Find lookalike companies
      operationId: lookalikeCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Similar company recommendations
  /v3/contacts/signals:
    post:
      tags: [Signals]
      summary: Get contact activity signals
      operationId: getContactSignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Contact signals
  /v3/companies/signals:
    post:
      tags: [Signals]
      summary: Get company activity signals
      operationId: getCompanySignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Company signals
  /v3/contacts/signals/types:
    get:
      tags: [Signals]
      summary: List contact signal types
      operationId: listContactSignalTypes
      responses:
        '200':
          description: Available signal types
  /v3/companies/signals/types:
    get:
      tags: [Signals]
      summary: List company signal types
      operationId: listCompanySignalTypes
      responses:
        '200':
          description: Available signal types
  /v3/companies/signals/filters:
    get:
      tags: [Filters]
      summary: List company-signal filter types
      operationId: listCompanySignalFilters
      responses:
        '200':
          description: Filter types
  /v3/companies/signals/filters/{filterType}:
    get:
      tags: [Filters]
      summary: Get values for a company-signal filter type
      operationId: getCompanySignalFilterValues
      parameters:
        - name: filterType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Filter values
  /v3/contacts/prospecting/filters:
    get:
      tags: [Filters]
      summary: List contact prospecting filter types
      operationId: listContactProspectingFilters
      responses:
        '200':
          description: Filter types
  /v3/contacts/prospecting/filters/{filterType}:
    get:
      tags: [Filters]
      summary: Get values for a contact prospecting filter type
      operationId: getContactProspectingFilterValues
      parameters:
        - name: filterType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Filter values
  /v3/companies/prospecting/filters:
    get:
      tags: [Filters]
      summary: List company prospecting filter types
      operationId: listCompanyProspectingFilters
      responses:
        '200':
          description: Filter types
  /v3/companies/prospecting/filters/{filterType}:
    get:
      tags: [Filters]
      summary: Get values for a company prospecting filter type
      operationId: getCompanyProspectingFilterValues
      parameters:
        - name: filterType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Filter values
  /api/subscriptions:
    get:
      tags: [Webhooks]
      summary: List webhook subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Subscriptions
    post:
      tags: [Webhooks]
      summary: Create a signal subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Subscription created
  /api/subscriptions/{id}:
    get:
      tags: [Webhooks]
      summary: Retrieve a webhook subscription
      operationId: getSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subscription
    patch:
      tags: [Webhooks]
      summary: Update a webhook subscription
      operationId: updateSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
  /api/subscriptions/{id}/test:
    post:
      tags: [Webhooks]
      summary: Send a test webhook delivery
      operationId: testSubscription
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test delivery dispatched
  /api/subscriptions/delete:
    post:
      tags: [Webhooks]
      summary: Bulk-delete subscriptions
      operationId: deleteSubscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Deleted
  /api/subscriptions/opt-out:
    post:
      tags: [Webhooks]
      summary: Subscribe to opt-out notifications
      operationId: subscribeOptOut
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Subscribed
  /api/audit-logs:
    get:
      tags: [Webhooks]
      summary: View webhook delivery audit logs
      operationId: listAuditLogs
      responses:
        '200':
          description: Audit logs
  /api/audit-logs/stats:
    get:
      tags: [Webhooks]
      summary: Get webhook delivery statistics
      operationId: getAuditLogStats
      responses:
        '200':
          description: Delivery stats
  /api/account/secret:
    get:
      tags: [Account]
      summary: Retrieve webhook signing secret
      operationId: getWebhookSecret
      responses:
        '200':
          description: Current secret
  /api/account/secret/regenerate:
    post:
      tags: [Account]
      summary: Regenerate webhook signing secret
      operationId: regenerateWebhookSecret
      responses:
        '200':
          description: New secret
  /v3/account/usage:
    get:
      tags: [Account]
      summary: Retrieve account usage, credits and plan
      operationId: getAccountUsage
      responses:
        '200':
          description: Account usage details
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
