openapi: 3.2.0
info:
  title: Lusha API Documentation Account Management API
  version: ''
  x-logo:
    url: https://www.lusha.com/logo.png
  license:
    name: Proprietary
    url: https://lusha.com/legal/terms
  description: ⚠️ **This version is soon to be deprecated.** Please migrate to V3.
  contact:
    name: Lusha Support
    url: https://api.lusha.com
    email: support@lusha.com
  termsOfService: https://lusha.com/legal/terms
  x-privacy-policy:
    name: Privacy Policy
    url: https://lusha.com/legal/privacy-notice/
servers:
- url: https://api.lusha.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Account Management
  description: 'Manage your account and monitor usage.


    Use this endpoint to:

    - Monitor credit usage

    - Understand consumption patterns

    - Align API usage with plan limits

    - Support governance and production operations


    Account-level insights are especially important for teams running Lusha at scale or across multiple systems.'
paths:
  /account/usage:
    get:
      tags:
      - Account Management
      summary: Get Account Usage Statistics
      description: 'Retrieve your current API credit usage statistics including used, remaining, and total credits.


        *Endpoint*: **(GET) https://api.lusha.com/account/usage**


        **Rate Limits**: This endpoint has a specific rate limit of 5 requests per minute.'
      operationId: getAccountUsageStats
      responses:
        '200':
          description: Account usage statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUsageStatsResponse'
              example:
                usage:
                  bulkCredits:
                    used: 150
                    total: 1000
                    remaining: 850
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
      - statusCode
      - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages (optional, only for validation errors)
          example:
          - 'entityType must be one of: contact, company'
    UsageStats:
      type: object
      properties:
        used:
          type: number
          example: 10
        total:
          type: number
          example: 100
        remaining:
          type: number
          example: 90
      required:
      - used
      - total
      - remaining
    AccountUsageStatsResponse:
      type: object
      properties:
        usage:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UsageStats'
      required:
      - usage
  responses:
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 429
            message: Too many requests. Please wait before making another request.
      headers:
        RateLimit-Limit:
          description: The total number of allowed requests per second
          schema:
            type: integer
        RateLimit-Remaining:
          description: The number of remaining requests in the current window
          schema:
            type: integer
        RateLimit-Reset:
          description: The time (in seconds) until the rate limit quota is reset
          schema:
            type: integer
        X-RateLimit-Remaining-Daily:
          description: The number of remaining requests for your daily quota
          schema:
            type: integer
        X-RateLimit-Reset-Daily:
          description: The time when your daily quota will reset
          schema:
            type: integer
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Invalid API key
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 500
            message: Internal server error. Please try again later.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: 'Your Lusha API key. You can find this in your Lusha dashboard under API settings.


        Include this key in the `api_key` header for all requests.

        '
