openapi: 3.2.0
info:
  title: Lusha API Documentation Enrichment API
  version: ''
  x-logo:
    url: https://www.lusha.com/logo.png
  license:
    name: Proprietary
    url: https://lusha.com/legal/terms
  description: ⚠️ **This version is soon to be deprecated.** Please migrate to V3.
  contact:
    name: Lusha Support
    url: https://api.lusha.com
    email: support@lusha.com
  termsOfService: https://lusha.com/legal/terms
  x-privacy-policy:
    name: Privacy Policy
    url: https://lusha.com/legal/privacy-notice/
servers:
- url: https://api.lusha.com
  description: Production server
security:
- ApiKeyAuth: []
tags:
- name: Enrichment
  description: '**What is enrichment?**


    Enrichment is the process of adding missing or updated data to existing contact or company records.'
paths:
  /v2/person:
    get:
      tags:
      - Enrichment
      summary: Search Single Contact
      description: 'Find and enrich a single contact using various search criteria. You can search by name, email,

        LinkedIn URL, or Person Id.

        >##### Endpoint

        ```

        GET https://api.lusha.com/v2/person

        ```


        >##### Search Requirements

        You must provide either:

        - `personId` OR

        - `email` OR

        - `linkedinUrl` OR

        - `firstName` AND `lastName` AND (`companyName` OR `companyDomain`)


        >##### Notes:

        - Provide as much information as possible for better results

        - Using `personId` provides the most direct way to retrieve contact information, as it uniquely identifies a contact in Lusha''s database.

        - Use `refreshJobInfo=true` to get the latest employment data

        - Use `filterBy` parameter to specify what contact details you need

        - Include the `signals` parameter to retriever contact signals (If no signals data is found for the specified period, the `signals` object will be empty but still present in the response.)

        - When requesting signals, you can optionally specify a start date using `signalsStartDate`.

        - Signals data is optional. If you don''t include the `signals` parameter, no signals data will be returned.


        ---


        ⚠️ **Important Notice - Unified Credits Plan Required**


        | Parameter | Requirement |

        |-----------|-------------|

        | `revealEmails` and `revealPhones` | Only available to customers on the **Unified Credits** pricing plan |

        | Plan Restriction | Attempting to use these parameters on other plans will result in a **403 Unauthorized** error |

        | Default Behavior | When neither parameter is used, the API returns **both email addresses and phone numbers**, if available |


        ---'
      operationId: searchSingleContact
      parameters:
      - $ref: '#/components/parameters/firstName'
      - $ref: '#/components/parameters/lastName'
      - $ref: '#/components/parameters/personId'
      - $ref: '#/components/parameters/companyName'
      - $ref: '#/components/parameters/companyDomain'
      - $ref: '#/components/parameters/email'
      - $ref: '#/components/parameters/linkedinUrl'
      - $ref: '#/components/parameters/refreshJobInfo'
      - $ref: '#/components/parameters/filterBy'
      - $ref: '#/components/parameters/revealEmails'
      - $ref: '#/components/parameters/revealPhones'
      - $ref: '#/components/parameters/signals'
      - $ref: '#/components/parameters/signalsStartDate'
      - $ref: '#/components/parameters/partialProfile'
      responses:
        '200':
          description: Successfully found contact information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleContactResponse'
              examples:
                successful_response:
                  summary: Successful contact lookup
                  value:
                    contact:
                      error: null
                      isCreditCharged: false
                      data:
                        companyId: 33222678
                        firstName: Dustin
                        lastName: Moskovitz
                        fullName: Dustin Moskovitz
                        emailAddresses:
                        - address: dustin@lusha.com
                          type: work
                          emailConfidence: A+
                          updateDate: '2024-01-15'
                        phoneNumbers:
                        - number: +1-555-123-4567
                          phoneType: Mobile
                          doNotCall: false
                          updateDate: '2024-01-15'
                        location:
                          country: United States
                          countryIso2: US
                          continent: North America
                          rawLocation: Boston, MA, US
                          city: Boston
                          state: Massachusetts
                          stateCode: MA
                          isEuContact: false
                        jobTitle:
                          seniority: Executive
                          title: CEO
                          departments:
                          - Executive
                        socialLinks:
                          linkedin: https://www.linkedin.com/in/dustin/
                          xUrl: https://twitter.com/dustin
                        jobStartDate: '2020-01-01'
                        personId: 123456
                        updateDate: '2024-01-15'
                        linkedinFollowersCount: 12500
                        linkedinConnectionsCount: 500
                        linkedinCertifications:
                        - companyName: Microsoft
                          title: 'Microsoft Certified: Azure Fundamentals'
                          dateYear: 2020
                          dateMonth: 6
                          verifyUrl: https://www.youracclaim.com/badges/5ccf865c-dd6e-4dcc-9184-c8999d31f83d
                        linkedinCourses:
                        - title: Advanced Leadership Strategies
                          companyName: LinkedIn Learning
                        linkedinAwards:
                        - title: Tech Leader of the Year
                          companyName: Tech Awards Council
                          dateYear: 2023
                          summary: Recognition for outstanding leadership in technology innovation
                        linkedinSkills:
                        - Strategic Planning
                        - Team Leadership
                        - Product Development
                        company:
                          name: Lusha
                          description: Lusha is the sales intelligence platform designed to help businesses get their next customers.
                          domains:
                            homepage: https://www.lusha.com
                            email: lusha.com
                          fqdn: lusha.com
                          location:
                            country: United States
                            countryIso2: US
                            continent: North America
                            rawLocation: Boston, MA, US
                            city: Boston
                            state: Massachusetts
                          companySize:
                          - 201
                          - 500
                          revenueRange:
                          - 10000000
                          - 50000000
                          logoUrl: https://logo.lusha.co/logo.jpg
                          social:
                            linkedin: https://linkedin.com/company/lusha
                            crunchbase: https://crunchbase.com/company/lusha
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '451':
          $ref: '#/components/responses/GDPRRestricted'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Enrichment
      summary: Search Multiple Contacts
      description: 'Enrich multiple contacts in a single request. This endpoint allows you to submit a list of contacts

        and receive enriched data for each one, including company information.


        >##### Endpoint:

        ```

        POST https://api.lusha.com/v2/person

        ```


        >##### Notes

        - You can process up to 100 contacts per request.

        - Using `personId` provides the most direct way to retrieve contact information.

        - At least one of `email`, `linkedinUrl`, or `company`/`domain` with `fullName` is required.


        ---


        ⚠️ **Important Notice - Unified Credits Plan Required**


        | Parameter | Requirement |

        |-----------|-------------|

        | `revealEmails` and `revealPhones` | Only available to customers on the **Unified Credits** pricing plan |

        | Plan Restriction | Attempting to use these parameters on other plans will result in a **403 Unauthorized** error |

        | Default Behavior | When neither parameter is used, the API returns **both email addresses and phone numbers**, if available |


        ---'
      operationId: searchMultipleContacts
      requestBody:
        required: true
        description: The list of contacts to enrich
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchBulkContactsRequest'
            examples:
              successful_response:
                summary: Successful contact lookup
                value:
                  contacts:
                  - contactId: '1'
                    personId: '4183886134'
                    fullName: John Doe
                    email: john@example.com
                    companies:
                    - name: Example Corp
                      domain: example.com
                      isCurrent: true
                  - contactId: '2'
                    personId: '4183886135'
                    linkedinUrl: https://www.linkedin.com/in/carolinaportela/
                  metadata:
                    revealEmails: true
                    revealPhones: true
                    signals:
                    - promotion
                    - companyChange
                    signalsStartDate: '2025-03-01'
                    partialProfile: true
      responses:
        '200':
          description: The list of enriched contacts with their company details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPersonResponse'
              example:
                contacts:
                  '1':
                    error: null
                    isCreditCharged: false
                    data:
                      firstName: John
                      lastName: Doe
                      fullName: John Doe
                      companyId: 1586
                      contactTags: []
                      emails:
                      - john.doe@amazon.com
                      - johndoe@gmail.com
                      emailAddresses:
                      - email: john.doe@amazon.com
                        emailType: work
                        updateDate: '2025-11-17'
                        emailConfidence: A+
                      - email: johndoe@gmail.com
                        emailType: private
                        updateDate: '2025-11-17'
                        emailConfidence: A+
                      phones:
                      - +1 555-123-4567
                      phoneNumbers:
                      - number: +1 555-123-4567
                        phoneType: direct
                        doNotCall: false
                        updateDate: '2025-11-17'
                      personId: 1312840528
                      location:
                        country: United States
                        country_iso2: US
                        continent: North America
                        is_eu_contact: false
                        state: Massachusetts
                        state_code: MA
                        city: Boston
                        city_id: 4930956
                        location_coordinates:
                        - -71.05976867675781
                        - 42.358428955078125
                      jobTitle:
                        title: Engineering Manager
                        departments:
                        - Engineering & Technical
                        seniority: Manager
                      socialLinks:
                        linkedin: https://www.linkedin.com/in/johndoe
                        xUrl: https://twitter.com/johndoe
                      jobStartDate: '2022-03-01'
                      previousJob:
                        company:
                          name: TechCorp
                          domain: techcorp.com
                        jobTitle:
                          title: Senior Software Engineer
                          departments:
                          - Engineering & Technical
                      updateDate: '2025-11-17'
                      linkedinFollowersCount: 2800
                      linkedinConnectionsCount: 450
                      linkedinCertifications:
                      - companyName: AWS
                        title: AWS Certified Solutions Architect
                        dateYear: 2023
                        dateMonth: 8
                      linkedinCourses:
                      - school:
                          name: MIT
                        degree: Master of Engineering
                        startDateYear: 2018
                        endDateYear: 2020
                      linkedinAwards:
                      - title: Engineering Excellence Award
                        companyName: TechCorp
                        dateYear: 2021
                        dateMonth: 12
                      linkedinSkills:
                      - Cloud Architecture
                      - Team Leadership
                      - System Design
                  '2':
                    error: null
                    isCreditCharged: false
                    data:
                      firstName: Jane
                      lastName: Smith
                      fullName: Jane Smith
                      companyId: 33222678
                      contactTags: []
                      emails:
                      - jane.smith@lusha.com
                      emailAddresses:
                      - email: jane.smith@lusha.com
                        emailType: work
                        updateDate: '2025-11-18'
                        emailConfidence: A+
                      phones: []
                      phoneNumbers: []
                      personId: 3965070011
                      location:
                        country: United States
                        country_iso2: US
                        continent: North America
                        is_eu_contact: false
                      jobTitle:
                        title: Solutions Engineer
                        departments:
                        - Engineering & Technical
                        seniority: Non-Manager
                      socialLinks:
                        linkedin: https://www.linkedin.com/in/janesmith
                        xUrl: https://twitter.com/janesmith
                      jobStartDate: '2022-10-17'
                      previousJob:
                        company: {}
                        jobTitle: {}
                      updateDate: '2025-11-18'
                      linkedinFollowersCount: 2800
                      linkedinConnectionsCount: 450
                      linkedinCertifications:
                      - companyName: AWS
                        title: AWS Certified Solutions Architect
                        dateYear: 2023
                        dateMonth: 8
                      linkedinCourses:
                      - school:
                          name: MIT
                        degree: Master of Engineering
                        startDateYear: 2018
                        endDateYear: 2020
                      linkedinAwards:
                      - title: Engineering Excellence Award
                        companyName: TechCorp
                        dateYear: 2021
                        dateMonth: 12
                      linkedinSkills:
                      - Cloud Architecture
                      - Team Leadership
                      - System Design
                companies:
                  '1586':
                    name: Amazon
                    description: 'Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking.'
                    domains:
                      homepage: amazon.com
                      email: amazon.com
                    homepageUrl: https://amazon.com
                    fqdn: www.amazon.com
                    location:
                      city: Seattle
                      continent: North America
                      country: United States
                      rawLocation: 2127 7th Ave.; Seattle, WA 98109, US
                      countryIso2: US
                      state: Washington
                      stateCode: WA
                    companySize:
                    - 100001
                    - 10000000
                    revenueRange:
                    - 1000000000
                    - 10000000000
                    logoUrl: https://logo.lusha.co/amazon-logo.jpg
                    social:
                      linkedin: https://www.linkedin.com/company/amazon
                      crunchbase: https://www.crunchbase.com/organization/amazon
                    mainIndustry: Technology, Information & Media
                    subIndustry: E-Commerce & Marketplace
                  '33222678':
                    name: Lusha
                    description: Lusha is the leader in Sales Streaming.
                    domains:
                      homepage: lusha.com
                      email: lusha.com
                    homepageUrl: https://lusha.com
                    fqdn: www.lusha.com
                    location:
                      city: Boston
                      continent: North America
                      country: United States
                      rawLocation: 800 Boylston St; Suite 1410; Boston, Massachusetts 02199, US
                      countryIso2: US
                      state: Massachusetts
                      stateCode: MA
                    companySize:
                    - 201
                    - 500
                    logoUrl: https://logo.lusha.co/lusha-logo.jpg
                    social:
                      linkedin: https://www.linkedin.com/company/lushadata
                      crunchbase: https://www.crunchbase.com/organization/lusha
                    funding:
                      rounds:
                      - currency: USD
                        roundAmount: 205000000
                        roundType: Private Equity Round
                        roundDate: Nov 10, 2021
                      totalRounds: 1
                      totalRoundsAmount: 205000000
                      currency: USD
                      isIpo: false
                    mainIndustry: Technology, Information & Media
                    subIndustry: Software Development
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/company:
    get:
      tags:
      - Enrichment
      summary: Search Single Company
      description: 'Find detailed information about a single company by using different paramaters.

        >##### Endpoint:

        ```

        GET https://api.lusha.com/v2/company

        ```


        >##### Notes:

        - At least one of `domain`, `company`, or `companyId` is required.

        - Signal sub-filters (`newsEventTypes`, `hiringByDepartments`, `hiringByLocations`) are not supported on this endpoint. Use `POST /bulk/company/v2` with the `signalsFilters` parameter for filtered signal retrieval.'
      operationId: searchSingleCompanyV2
      parameters:
      - name: domain
        in: query
        description: The domain name associated with the company
        schema:
          type: string
        example: example.com
      - name: company
        in: query
        description: The name of the company
        schema:
          type: string
        example: Lusha
      - name: companyId
        in: query
        description: 'A unique identifier for a Lusha company.

          '
        schema:
          type: string
        example: '1234567890'
      - name: signals
        in: query
        description: 'Array of signal types to retrieve for the company.

          - `allSignals`: All available signal types


          > See the Signal Options endpoint for complete list of available signals and their categories

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - websiteTrafficIncrease
            - websiteTrafficDecrease
            - itSpendIncrease
            - itSpendDecrease
            - headcountIncrease1m
            - headcountDecrease1m
            - headcountIncrease3m
            - headcountDecrease3m
            - headcountIncrease6m
            - headcountDecrease6m
            - headcountIncrease12m
            - headcountDecrease12m
            - surgeInHiring
            - surgeInHiringByDepartment
            - surgeInHiringByLocation
            - riskNews
            - commercialActivityNews
            - corporateStrategyNews
            - financialEventsNews
            - peopleNews
            - marketIntelligenceNews
            - productActivityNews
          example:
          - itSpendIncrease
      - name: signalsStartDate
        in: query
        description: 'Start date for signal retrieval in YYYY-MM-DD format. Defaults to 6 months ago if not specified.

          '
        schema:
          type: string
          format: date
          example: '2025-03-01'
      - name: partialCompany
        in: query
        description: 'Expand coverage with partial company profiles

          '
        schema:
          type: boolean
          default: true
          example: false
      responses:
        '200':
          description: Company information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySingleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Enrichment
      summary: Search Multiple Companies
      description: 'Search for multiple companies in a single request. Provide a list of companies with

        identifiers like domain names or company IDs.

        >##### Endpoint:

        ```

        POST https://api.lusha.com/bulk/company/v2

        ```


        >##### Notes:

        - At least one of `domain`, `company`, or `companyId` is required.

        - You can process up to 100 companies per request.'
      operationId: searchMultipleCompaniesV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompaniesBulkRequest'
            example:
              companies:
              - id: '1'
                name: Lusha
              - id: '2'
                domain: google.com
      responses:
        '200':
          description: Bulk company search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesBulkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    CompanyResponse:
      type: object
      properties:
        name:
          type: string
          example: Lusha
        description:
          type: string
          example: Lusha is a company that provides a platform for companies to find and connect with potential customers.
        domains:
          type: object
          properties:
            homepage:
              type: string
              example: https://www.lusha.com
            email:
              type: string
              example: contact@lusha.com
        homepageUrl:
          type: string
          example: https://www.lusha.com
        fqdn:
          type: string
          example: lusha.com
        location:
          $ref: '#/components/schemas/LocationResponse'
        companySize:
          example:
          - 100
          - 1000
          type: array
          items:
            type: number
        revenueRange:
          example:
          - 1000000
          - 10000000
          type: array
          items:
            type: number
        industryPrimaryGroup:
          type: string
          example: Software
        logoUrl:
          type: string
          example: https://www.lusha.com/logo.png
        social:
          $ref: '#/components/schemas/SocialResponse'
        specialities:
          example:
          - Software
          - Sales
          type: array
          items:
            type: string
        technologies:
          type: array
          items:
            $ref: '#/components/schemas/CompanyTechnology'
          example:
          - name: JavaScript
          - name: Python
        funding:
          $ref: '#/components/schemas/FundingData'
        industry:
          $ref: '#/components/schemas/CompanyIndustryData'
        intent:
          $ref: '#/components/schemas/BuyerIntent'
        industryPrimaryGroupDetails:
          $ref: '#/components/schemas/IndustryPrimaryGroupDetailsResponse'
      required:
      - name
      - fqdn
    CompanyCrunchbaseResponse:
      type: object
      properties:
        url:
          type: string
          example: https://crunchbase.com/company/lusha
      required:
      - url
    Company:
      type: object
      properties:
        name:
          type: string
          description: The name of the company, Required if no domain.
          example: Lusha
        domain:
          type: string
          description: The domain of the company, Required if no name.
          example: lusha.com
        isCurrent:
          type: boolean
          description: Indicates whether this is the person's current company
          example: true
        jobTitle:
          type: string
          description: The job title of the person at the company
          example: Software Engineer
        fqdn:
          type: string
          description: The fully qualified domain name of the company
          example: https://lusha.com
        companySocialId:
          type: string
          description: The social ID associated with the company (if available)
          example: '1234567890'
      required:
      - isCurrent
    IndustryPrimaryGroupDetailsResponse:
      type: object
      properties:
        sicCodes:
          type: array
          items:
            $ref: '#/components/schemas/CompanySic'
        naicsCodes:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNaics'
    CompanyFundingRound:
      type: object
      properties:
        currency:
          type: string
          example: USD
        roundAmount:
          type: number
          example: 205000000
        roundType:
          type: string
          example: Private Equity Round
        roundDate:
          type: string
          example: Nov 10, 2021
      required:
      - currency
      - roundAmount
      - roundType
      - roundDate
    CompanyLinkedinResponse:
      type: object
      properties:
        url:
          type: string
          example: https://linkedin.com/company/lusha
      required:
      - url
    ContactSearchBulk:
      type: object
      properties:
        contactId:
          type: string
          description: A unique sequential ID to associate with the contact object in the API response
          example: '1234'
        personId:
          type: string
          description: The unique person identifier in Lusha
          example: '4183886134'
        fullName:
          type: string
          description: The full name of the person
          example: Dustin Moskovitz
        location:
          type: string
          description: The raw location of the person
          example: Singapore,Chicago
        linkedinUrl:
          type: string
          description: The LinkedIn URL of the person
          example: https://www.linkedin.com/in/dustin/
        email:
          type: string
          description: The email address of the person
          example: dustin@lusha.com
        companies:
          description: Details of the company where the contact is currently employed (or previously employed if applicable)
          type: array
          items:
            $ref: '#/components/schemas/Company'
      required:
      - contactId
    CompanySurgeInHiringSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503905'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLastWeek:
          type: number
          example: 25
        historicalAvg:
          type: number
          example: 10
        changeRatePercent:
          type: number
          example: 150
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanyIntent:
      type: object
      properties:
        detectedTopics:
          type: array
          items:
            $ref: '#/components/schemas/CompanyIntentTopic'
        topicCount:
          type: number
          example: 6
      required:
      - detectedTopics
      - topicCount
    CompanyFunding:
      type: object
      properties:
        rounds:
          type: array
          items:
            $ref: '#/components/schemas/CompanyFundingRound'
        totalRounds:
          type: number
          example: 2
        totalRoundsAmount:
          type: number
          example: 245000000
        currency:
          type: string
          example: USD
        isIpo:
          type: boolean
          example: false
        lastRoundType:
          type: string
          example: Private Equity Round
        lastRoundAmount:
          type: number
          example: 205000000
        lastRoundDate:
          type: string
          example: Nov 10, 2021
      required:
      - totalRounds
      - currency
      - isIpo
    CompaniesBulkResponse:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/CompanyBulkResponse'
    ContactWithCompany:
      type: object
      allOf:
      - $ref: '#/components/schemas/Contact'
      - type: object
        properties:
          company:
            $ref: '#/components/schemas/CompanyResponse'
        required:
        - company
    LinkedinCourse:
      type: object
      properties:
        activities:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
        endDateMonth:
          oneOf:
          - type:
            - integer
            - 'null'
          - type:
            - string
            - 'null'
        endDateYear:
          oneOf:
          - type:
            - integer
            - 'null'
          - type:
            - string
            - 'null'
        fieldOfStudy:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - string
              - 'null'
            name:
              type:
              - string
              - 'null'
        grade:
          type:
          - string
          - 'null'
        school:
          type:
          - object
          - 'null'
          properties:
            id:
              type:
              - string
              - 'null'
            logoUrl:
              type:
              - string
              - 'null'
            name:
              type:
              - string
              - 'null'
        startDateMonth:
          oneOf:
          - type:
            - number
            - 'null'
          - type:
            - string
            - 'null'
        startDateYear:
          oneOf:
          - type:
            - number
            - 'null'
          - type:
            - string
            - 'null'
        linkedinSchoolId:
          type:
          - number
          - 'null'
    ContactError:
      type: object
      properties:
        code:
          type: number
          description: The code of the contact error
          example: 3
        name:
          type: string
          description: The name of the contact error
          example: EMPTY_DATA
        message:
          type: string
          description: The message of the contact error
          example: Could not find requested data
    CompanyIndustryPrimaryGroupDetails:
      type: object
      properties:
        sicCodes:
          type: array
          items:
            $ref: '#/components/schemas/CompanySic'
        naicsCodes:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNaics'
    LinkedinAward:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
          example: Columbia Southern University
        dateDay:
          oneOf:
          - type: number
          - type: string
          example: 15
        dateMonth:
          oneOf:
          - type: number
          - type: string
          example: 7
        dateYear:
          oneOf:
          - type: number
          - type: string
          example: 2023
        linkedinCompanyId:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
          example: Certificate of Recognition for Exceptional Teaching
        title:
          type: string
          example: Raising the Bar Award
    CompanyNaics:
      type: object
      properties:
        naicsCodes:
          type: number
          example: 541511
        description:
          type: string
          example: Custom Computer Programming Services
      required:
      - naics
      - description
    LocationResponse:
      type: object
      properties:
        country:
          type: string
          description: The country where the person is located.
          example: Israel
        countryIso2:
          type: string
          description: The ISO 3166-1 alpha-2 country code of the person.
          example: IL
        country_iso2:
          type: string
          description: The ISO 3166-1 alpha-2 country code of the person.
          example: IL
        continent:
          type: string
          description: The continent where the person is located.
          example: Asia
        rawLocation:
          type: string
          example: 800 Boylston St, Suite 1410, Boston, MA 02199, US
          description: The detailed address.
        region:
          type: string
          description: The region where the person is located.
          example: Tel Aviv
        city:
          type: string
          description: The city where the person is located.
          example: Tel Aviv
        cityId:
          type: number
          description: The ID of the city where the person is located.
          example: 123
        state:
          type: string
          description: The state where the person is located.
          example: Tel Aviv
        stateCode:
          type: string
          description: The state code of the person.
          example: IL
        state_code:
          type: string
          description: The state code of the person.
          example: IL
        street:
          type: string
          description: The street where the person is located.
          example: 123 Main St
        locationCoordinates:
          description: The coordinates of the person.
          example:
          - 32.0853
          - 34.7818
          type: array
          items:
            type: number
        isEuContact:
          type: boolean
          description: Indicates whether the person is in the EU.
          example: true
      required:
      - country
      - countryIso2
      - continent
      - rawLocation
    PhoneNumbers:
      type: object
      properties:
        number:
          type: string
          description: The phone number
          example: '+1234567890'
        phoneType:
          type: string
          description: The type of phone number
          example: Mobile
          enum:
          - Mobile
          - Direct
          - Phone
        doNotCall:
          type: boolean
          description: Indicates whether the phone number is listed as "Do Not Call" (DNC).
          example: false
        updateDate:
          type: string
          description: The update date of the phone number
          example: '2020-01-01'
      required:
      - phoneType
      - doNotCall
      - updateDate
    BuyerIntent:
      type: object
      properties:
        topicCount:
          type: integer
          example: 6
        detectedTopics:
          type: array
          items:
            $ref: '#/components/schemas/CompanyIntentTopic'
      required:
      - topicCount
      - detectedTopics
    CompanySurgeInHiringByLocationSignal:
      type: object
      properties:
        signalId:
          type: string
          example: '1503907'
        companyId:
          type: string
          example: '3416'
        country:
          type: string
          example: United States
        state:
          type: string
          example: California
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLast4Weeks:
          type: number
          example: 20
        historicalAvg:
          type: number
          example: 8
        changeRatePercent:
          type: number
          example: 150
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    SearchBulkContactsRequest:
      type: object
      properties:
        contacts:
          description: This is a required parameter that should contain a list of contact objects. Each contact will be processed based on the provided contact details.
          type: array
          items:
            $ref: '#/components/schemas/ContactSearchBulk'
        metadata:
          description: Metadata for the search to filter the results
          $ref: '#/components/schemas/Metadata'
      required:
      - contacts
    CompanySignalFiltersInclude:
      type: object
      description: 'Optional sub-filters to narrow results within a signal type.

        - Multi-value filters use **OR** logic

        - Filter values are **not** case-sensitive

        - `state` without `country` in `hiringByLocations` returns HTTP **400**

        '
      properties:
        newsEventTypes:
          type: array
          items:
            type: string
            enum:
            - Asset Investment
            - Asset Sale
            - Competitor Activity
            - Event Participation
            - Executive Departure
            - Executive Hire
            - Executive Promotion
            - Facilities Expansion
            - Facility Closure
            - Funding Round
            - Headcount Decrease
            - Headcount Increase
            - IPO
            - Lawsuit Faced
            - Lawsuit Filed
            - M&A
            - New Customer
            - New Location
            - New Vendor
            - Partnership
            - Product Development
            - Product Integration
            - Product Launch
            - Recognition
            - Security Issue
            - Strategic Investment
          example:
          - Partnership
          - New Customer
        hiringByDepartments:
          type: array
          items:
            type: string
            enum:
            - Business Development
            - Consulting
            - Customer Service
            - Engineering & Technical
            - Finance
            - General Management
            - Health Care & Medical
            - Human Resources
            - Information Technology
            - Legal
            - Marketing
            - Operations
            - Other
            - Product
            - Research & Analytics
            - Sales
          example:
          - Engineering & Technical
          - Sales
        hiringByLocations:
          type: array
          items:
            $ref: '#/components/schemas/SignalFilterLocation'
          example:
          - country: United States
            state: California
          - country: Germany
    ContactSingleResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ContactError'
        isCreditCharged:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/ContactWithCompany'
      required:
      - error
      - isCreditCharged
    CompanyNewsSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '33222678'
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
        signalId:
          type: string
          example: '1503910'
        eventType:
          type: string
          example: partnership
        eventSummary:
          type: string
          example: Lusha announced a strategic partnership with Salesforce.
        articlePublishedDate:
          type: string
          format: date
          example: '2025-06-15'
        articleTitle:
          type: string
          example: Lusha Partners with Salesforce
        articleHighlight:
          type: string
          example: The partnership enables Salesforce users to access Lusha data directly within their CRM.
        eventEffectiveDate:
          type: string
          format: date
          example: '2025-06-10'
        articleUrl:
          type: string
          format: uri
          example: https://example.com/lusha-salesforce-partnership
    Contact:
      type: object
      properties:
        companyId:
          type: number
          example: 123
        firstName:
          type: string
          example: Dustin
        lastName:
          type: string
          example: Moskovitz
        fullName:
          type: string
          example: Dustin Moskovitz
        emails:
          description: Simple array of email addresses (deprecated - use emailAddresses)
          type: array
          items:
            type: string
          example:
          - john.doe@example.com
        emailAddresses:
          description: Detailed email addresses with metadata
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        phones:
          description: Simple array of phone numbers (deprecated - use phoneNumbers)
          type: string
          example: +1 555-123-4567
        phoneNumbers:
          description: Detailed phone numbers with metadata
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumbers'
        personId:
          type: number
          example: 123456
        location:
          $ref: '#/components/schemas/LocationResponse'
        jobTitle:
          $ref: '#/components/schemas/JobTitle'
        socialLinks:
          $ref: '#/components/schemas/SocialLinks'
        jobStartDate:
          type: string
          example: '2020-01-01'
        previousJob:
          $ref: '#/components/schemas/PreviousJobResponse'
        contactTags:
          type: array
          items:
            $ref: '#/components/schemas/ContactTag'
        updateDate:
          type: string
          example: '2020-01-01'
        linkedinFollowersCount:
          type: integer
          example: 1250
        linkedinConnectionsCount:
          type: integer
          example: 500
        linkedinCertifications:
          type: array
          items:
            $ref: '#/components/schemas/LinkedinCertification'
        linkedinCourses:
          type: array
          items:
            $ref: '#/components/schemas/LinkedinCourse'
        linkedinAwards:
          type: array
          items:
            $ref: '#/components/schemas/LinkedinAward'
        linkedinSkills:
          type: array
          items:
            type: string
          example:
          - Microsoft Office
          - Project Management
          - Strategic Planning
      required:
      - companyId
      - firstName
      - lastName
      - fullName
    BulkPersonResponse:
      type: object
      properties:
        contacts:
          type: object
          description: The contacts of the bulk person output, keyed by contactId
          additionalProperties:
            $ref: '#/components/schemas/ContactResponse'
        companies:
          type: object
          description: The companies of the bulk person output, keyed by companyId
          additionalProperties:
            $ref: '#/components/schemas/CompanyResponse'
      required:
      - contacts
      - companies
    PreviousJobResponse:
      type: object
      properties:
        jobTitle:
          $ref: '#/components/schemas/JobTitle'
        company:
          $ref: '#/components/schemas/Company'
      required:
      - jobTitle
      - company
    ContactResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ContactError'
        isCreditCharged:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/Contact'
      required:
      - error
      - isCreditCharged
    CompanyIndustryData:
      type: object
      properties:
        mainIndustry:
          type: string
          example: Software
        subIndustry:
          type: string
          example: Sales
      required:
      - mainIndustry
      - subIndustry
    CompanySocialResponse:
      type: object
      properties:
        crunchbase:
          $ref: '#/components/schemas/CompanyCrunchbaseResponse'
        linkedin:
          $ref: '#/components/schemas/CompanyLinkedinResponse'
    CompanyItSpendSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503903'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        estimatedAnnualItSpend:
          type: number
          example: 5000000
        changeRatePercent:
          type: number
          example: 25
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanySic:
      type: object
      properties:
        sicCodes:
          type: number
          example: 1234
        description:
          type: string
          example: Software Publishing
      required:
      - sic
      - description
    SingleContactResponse:
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/ContactSingleResponse'
      required:
      - contact
    SignalFilterLocation:
      type: object
      description: 'Location filter for hiring signals. `country` is required; `state` is optional.

        '
      required:
      - country
      properties:
        country:
          type: string
          example: United States
        state:
          type: string
          example: California
    LinkedinCertification:
      type: object
      properties:
        companyId:
          type: integer
          example: 1035
        companyName:
          type: string
          example: Microsoft
        credentialId:
          type: string
          example: abc123
        dateMonth:
          anyOf:
          - type: integer
          - type: string
          example: 6
        dateYear:
          anyOf:
          - type: integer
          - type: string
          example: 2020
        expireDateMonth:
          anyOf:
          - type: integer
          - type: string
          example: 6
        expireDateYear:
          anyOf:
          - type: integer
          - type: string
          example: 2025
        linkedinCompanyId:
          type:
          - integer
          - 'null'
          example: 1441
        summary:
          type:
          - string
          - 'null'
          example: Azure fundamentals certification covering cloud concepts
        title:
          type: string
          example: 'Microsoft Certified: Azure Fundamentals'
        verifyUrl:
          type:
          - string
          - 'null'
          example: https://www.youracclaim.com/badges/5ccf865c-dd6e-4dcc-9184-c8999d31f83d
    CompanyLocationResponse:
      type: object
      description: HQ location only. For all company site locations, see companyLocations.
      properties:
        city:
          type: string
          example: Boston
        country:
          type: string
          example: United States
        fullLocation:
          type: string
          example: 800 Boylston St, Suite 1410, Boston, Massachusetts 02199, US
        state:
          type: string
          example: Massachusetts
        stateCode:
          type: string
          example: MA
        countryIso2:
          type: string
          example: US
        rawLocation:
          type: string
          example: 800 Boylston St; Suite 1410; Boston, Massachusetts 02199, US
    EmailAddress:
      type: object
      properties:
        email:
          type: string
          description: The email address (alternative to 'address')
          example: dustin@lusha.com
        address:
          type: string
          description: The email address (alternative to 'email')
          example: dustin@lusha.com
        emailType:
          type: string
          description: The type of email address (alternative to 'type')
          example: work
          enum:
          - work
          - private
        emailConfidence:
          type: string
          description: The confidence level of the email address
          example: A+
        updateDate:
          type: string
          description: The update date of the email address
          example: '2020-01-01'
    FundingDataRound:
      type: object
      properties:
        announcedOn:
          type: string
          example: '2020-01-01'
        leadInvestors:
          example:
          - Investor 1
          - Investor 2
          type: array
          items:
            type: string
        currency:
          type: string
          example: USD
        title:
          type: string
          example: Series A
        moneyRaised:
          type: number
          example: 1000000
      required:
      - currency
      - title
    CompanyBulkRequest:
      type: object
      properties:
        id:
          type: string
          example: '1'
        domain:
          type: string
          example: lusha.com
        fqdn:
          type: string
        name:
          type: string
          example: Lusha
        companyId:
          type: string
          example: '1234567890'
      required:
      - id
    CompanyErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: Something went wrong
      required:
      - message
    CompaniesBulkRequest:
      type: object
      properties:
        companies:
          type: array
          items:
            $ref: '#/components/schemas/CompanyBulkRequest'
        signals:
          type: array
          items:
            type: string
            enum:
            - allSignals
            - websiteTrafficIncrease
            - websiteTrafficDecrease
            - itSpendIncrease
            - itSpendDecrease
            - headcountIncrease1m
            - headcountDecrease1m
            - headcountIncrease3m
            - headcountDecrease3m
            - headcountIncrease6m
            - headcountDecrease6m
            - headcountIncrease12m
            - headcountDecrease12m
            - surgeInHiring
            - surgeInHiringByDepartment
            - surgeInHiringByLocation
            - riskNews
            - commercialActivityNews
            - corporateStrategyNews
            - financialEventsNews
            - peopleNews
            - marketIntelligenceNews
            - productActivityNews
          example:
          - surgeInHiringByLocation
        signalsStartDate:
          type: string
          format: date
          example: '2025-03-01'
        signalsFilters:
          type: object
          description: 'Optional filters to narrow signal results within the requested signal types.

            - Multi-value filters use **OR** logic

            - Filter values are **not** case-sensitive

            - Unrecognized values are **silently ignored**

            - `state` without `country` in `hiringByLocations` returns HTTP **400**

            '
          properties:
            include:
              $ref: '#/components/schemas/CompanySignalFiltersInclude'
        partialCompany:
          type: boolean
          default: true
          example: false
      required:
      - companies
    CompanySurgeInHiringByDepartmentSignal:
      type: object
      properties:
        signalId:
          type: string
          example: '1503906'
        companyId:
          type: string
          example: '3416'
        department:
          type: string
          example: Engineering
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        newJobsPostedLast4Weeks:
          type: number
          example: 15
        historicalAvg:
          type: number
          example: 5
        changeRatePercent:
          type: number
          example: 200
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    ErrorResponse:
      type: object
      required:
      - statusCode
      - message
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation failed
        errors:
          type: array
          items:
            type: string
          description: Detailed error messages (optional, only for validation errors)
          example:
          - 'entityType must be one of: contact, company'
    CompanyTechnology:
      type: object
      properties:
        name:
          type: string
          example: salesforce
      required:
      - name
    SocialLinks:
      type: object
      properties:
        linkedin:
          type: string
          example: https://www.linkedin.com/in/dustin/
        xUrl:
          type: string
          example: https://twitter.com/dustin
      required:
      - linkedin
    CompanySingleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CompanySingleResponseData'
        errors:
          $ref: '#/components/schemas/CompanyErrorResponse'
        meta:
          type: object
          description: Currently returns an empty value; this field should be deprecated in future releases.
          example: {}
    CompanyBulkResponse:
      type: object
      properties:
        id:
          type: number
          example: 33222678
        lushaCompanyId:
          type: string
          example: '16303253'
        name:
          type: string
          example: Lusha
        companySize:
          example:
          - 201
          - 500
          type: array
          items:
            type: number
        linkedinFollowers:
          type: integer
          example: 1950
        emailDomain:
          type: string
          example: bitcoinromania.ro
        companyLocations:
          type: array
          items:
            type: object
            properties:
              city:
                type: string
              continent:
                type: string
              country:
                type: string
              country_iso2:
                type: string
              location_coordinates:
                type: array
                items:
                  type: number
              state:
                type:
                - string
                - 'null'
              state_code:
                type:
                - string
                - 'null'
        alternativeName:
          type: string
          example: bitcoin romania
        companyType:
          type: string
          example: Private company
        lushaPopularityTier:
          type: integer
          example: 1
        employeesInLinkedin:
          type: number
          example: 32
        revenueRange:
          example:
          - 10000000
          - 50000000
          type: array
          items:
            type: number
        fqdn:
          type: string
          example: www.lusha.com
        founded:
          type: string
          example: '2016'
        description:
          type: string
          example: Lusha is the sales intelligence platform...
        logoUrl:
          type: string
          example: https://logo.lusha.co/logo.jpg
        industryPrimaryGroupDetails:
          $ref: '#/components/schemas/CompanyIndustryPrimaryGroupDetails'
        linkedin:
          type: string
          example: https://www.linkedin.com/company/lushadata
        mainIndustry:
          type: string
          example: Technology, Information & Media
        subIndustry:
          type: string
          example: Software Development
        city:
          type: string
          example: Boston
        state:
          type: string
          example: Massachusetts
        country:
          type: string
          example: United States
        countryIso2:
          type: string
          example: US
        continent:
          type: string
          example: North America
        rawLocation:
          type: string
          example: 800 Boylston St; Suite 1410; Boston, Massachusetts 02199, US
        crunchbase:
          type: string
          example: https://www.crunchbase.com/organization/lusha
        specialities:
          type: array
          items:
            type: string
          example:
          - data accuracy
          - sales intelligence
        funding:
          $ref: '#/components/schemas/CompanyFunding'
        intent:
          $ref: '#/components/schemas/CompanyIntent'
        technologies:
          type: array
          items:
            $ref: '#/components/schemas/CompanyTechnology'
        riskNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        commercialActivityNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        corporateStrategyNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        financialEventsNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        peopleNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        marketIntelligenceNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        productActivityNews:
          type: array
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        surgeInHiring:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringSignal'
        surgeInHiringByDepartment:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByDepartmentSignal'
        surgeInHiringByLocation:
          type: array
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByLocationSignal'
        websiteTrafficIncrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        websiteTrafficDecrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        itSpendIncrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        itSpendDecrease:
          type: array
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        headcountIncrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
    FundingData:
      type: object
      properties:
        totalRounds:
          type: number
          example: 10
        totalRoundsAmount:
          type: number
          example: 1000000
        currency:
          type: string
          example: USD
        isIpo:
          type: boolean
          example: true
        lastFundingEventDate:
          type: string
          example: '2020-01-01'
        lastFundingEventAmount:
          type: number
          example: 1000000
        lastFundingEventName:
          type: string
          example: Series A
        rounds:
          type: array
          items:
            $ref: '#/components/schemas/FundingDataRound'
      required:
      - totalRounds
      - currency
      - isIpo
    SocialResponse:
      type: object
      properties:
        linkedin:
          type: string
          example: https://www.linkedin.com/in/dustin/
        crunchbase:
          type: string
          example: https://www.crunchbase.com/person/dustin-moskovitz
        twitter:
          type: string
          example: https://twitter.com/dustin
        facebook:
          type: string
          example: https://www.facebook.com/dustin
    CompanyHeadcountChangeSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503904'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        baselineEmployeesCount:
          type: number
          example: 500
        newEmployeesCount:
          type: number
          example: 550
        changeRatePercent:
          type: number
          example: 10
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
    CompanySingleResponseData:
      type: object
      properties:
        id:
          type: number
          example: 123
          description: A unique identifier for the Lusha company.
        description:
          type: string
          example: Lusha is the sales intelligence platform designed to help businesses get their next customers.
          description: A brief description of the company.
        domain:
          type: string
          example: lusha.com
          description: The domain name associated with the company's email addresses.
        employees:
          type: string
          example: 201 - 500
          description: The company's employee size range.
        founded:
          type: string
          example: August 1, 2011
          description: The year the company was founded.
        fqdn:
          type: string
          example: www.lusha.com
          description: The fully qualified domain name of the company.
        logoUrl:
          type: string
          example: https://logo.lusha.co/logo.jpg
          description: The URL of the company's logo.
        name:
          type: string
          example: Lusha
          description: The name of the company.
        linkedinFollowers:
          type: integer
          description: LinkedIn followers count for the company
          example: 1950
        emailDomain:
          type: string
          description: Company email domain
          example: lusha.com
        companyLocations:
          type: array
          description: All known company locations (not just HQ).
          items:
            type: object
            properties:
              city:
                type: string
                example: Bucharest
              continent:
                type: string
                example: Europe
              country:
                type: string
                example: Romania
              country_iso2:
                type: string
                example: RO
              location_coordinates:
                type: array
                items:
                  type: number
                example:
                - 26.1062603
                - 44.432251
              state:
                type:
                - string
                - 'null'
                example: null
              state_code:
                type:
                - string
                - 'null'
                example: null
        alternativeName:
          type: string
          description: Normalized alternative company name
          example: lusha systems
        companyType:
          type: string
          description: Type of company
          example: Private company
        lushaPopularityTier:
          type: integer
          description: A proprietary ranking used by Lusha to categorize companies based on their popularity in the platform
          example: 1
        companySize:
          type: object
          description: Company size details.
          properties:
            min:
              type: number
              example: 11
            max:
              type: number
              example: 50
            employeesInLinkedin:
              type: number
              example: 32
        revenueRange:
          example:
          - 1000000
          - 10000000
          description: The company's revenue range.
          type: array
          items:
            type: number
        mainIndustry:
          type: string
          example: Technology
          description: The main industry of the company.
        subIndustry:
          type: string
          example: Software
          description: The specific sub-sector within the primary industry.
        social:
          description: Social media links associated with the company.
          $ref: '#/components/schemas/CompanySocialResponse'
        address:
          type: string
          example: North America United States Boston  800 Boylston St , Suite 1410 , Boston, Massachusetts 02199, US  Massachusetts US MA -71.05976867675781,42.358428955078125
          description: The full address of the company's location.
        location:
          description: HQ location only. For all company site locations, see companyLocations.
          $ref: '#/components/schemas/CompanyLocationResponse'
        categories:
          description: LinkedIn industry tags for the company.
          example:
          - Technology
          - Software
          type: array
          items:
            type: string
        industryPrimaryGroupDetails:
          $ref: '#/components/schemas/CompanyIndustryPrimaryGroupDetails'
        website:
          type: string
          description: The company's website URL.
          example: https://lusha.com
        specialities:
          description: LinkedIn specialties tags associated with the company.
          example:
          - data enrichment
          - sales intelligence
          - lead generation
          - prospecting
          type: array
          items:
            type: string
        funding:
          description: Details regarding the company's funding activities.
          $ref: '#/components/schemas/CompanyFunding'
        intent:
          description: A list of detected intent topics related to the company based on your account's mapped topics.
          $ref: '#/components/schemas/CompanyIntent'
        technologies:
          description: A list of technologies associated with the company.
          type: array
          items:
            $ref: '#/components/schemas/CompanyTechnology'
        riskNews:
          type: array
          description: Litigations and security news signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        commercialActivityNews:
          type: array
          description: Launches, partnerships, and go-to-market activity signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        corporateStrategyNews:
          type: array
          description: M&A, restructuring, or strategic direction change signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        financialEventsNews:
          type: array
          description: Funding, IPOs, and financial performance event signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        peopleNews:
          type: array
          description: Hiring, layoffs, or leadership change signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        marketIntelligenceNews:
          type: array
          description: Event participation, recognition, and competitor activity signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        productActivityNews:
          type: array
          description: Product launch, development, and integration news signals
          items:
            $ref: '#/components/schemas/CompanyNewsSignal'
        surgeInHiring:
          type: array
          description: Overall hiring surge signals
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringSignal'
        surgeInHiringByDepartment:
          type: array
          description: Department-specific hiring surge signals
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByDepartmentSignal'
        surgeInHiringByLocation:
          type: array
          description: Location-specific hiring surge signals
          items:
            $ref: '#/components/schemas/CompanySurgeInHiringByLocationSignal'
        websiteTrafficIncrease:
          type: array
          description: Website traffic increase signals
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        websiteTrafficDecrease:
          type: array
          description: Website traffic decrease signals
          items:
            $ref: '#/components/schemas/CompanyWebsiteTrafficSignal'
        itSpendIncrease:
          type: array
          description: IT spending increase signals
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        itSpendDecrease:
          type: array
          description: IT spending decrease signals
          items:
            $ref: '#/components/schemas/CompanyItSpendSignal'
        headcountIncrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease1m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease3m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease6m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountIncrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
        headcountDecrease12m:
          type: array
          items:
            $ref: '#/components/schemas/CompanyHeadcountChangeSignal'
      required:
      - id
      - name
    JobTitle:
      type: object
      properties:
        seniority:
          type: string
          example: Director
        title:
          type: string
          example: Director of Platform
        departments:
          example:
          - Engineering
          - Operations
          type: array
          items:
            type: string
      required:
      - seniority
      - title
      - departments
    Metadata:
      type: object
      properties:
        refreshJobInfo:
          type: boolean
          description: Set this to true to refresh job information for the contact. This replaces any outdated job details with the most current information. By default, Lusha returns results for records that have at least one of the specified contact details (e.g., phone number or email address).
          example: true
        filterBy:
          type: string
          description: 'Filters the results based on specific contact details. Use the following options: emailAddresses, phoneNumbers'
          example: emailAddresses
        revealEmails:
          type: boolean
          description: 'Set `revealEmails=true` to retrieve only the email address of the contact.

            '
          example: true
        revealPhones:
          type: boolean
          description: 'Set `revealPhones=true` to retrieve only the phone number of the contact.

            '
          example: true
        signals:
          type: array
          description: 'Array of signal types to retrieve for the contact.

            - `allSignals`: All available signal types

            - `promotion`: Promotion signals

            - `companyChange`: Company change signals

            '
          items:
            type: string
            enum:
            - allSignals
            - promotion
            - companyChange
          example:
          - promotion
          - companyChange
        signalsStartDate:
          type: string
          format: date
          description: 'Start date for signal retrieval in YYYY-MM-DD format. Defaults to 6 months ago if not specified.

            '
          example: '2025-03-01'
        partialProfile:
          type: boolean
          description: 'When set to true, returns a simplified contact profile with basic information only.

            '
          default: false
          example: true
    CompanyIntentTopic:
      type: object
      properties:
        topicName:
          type: string
          example: Remote Sales
        metadata:
          $ref: '#/components/schemas/CompanyIntentTopicMetadata'
      required:
      - topicName
      - metadata
    ContactTag:
      type: object
      properties:
        id:
          type: string
          example: '123'
        name:
          type: string
          example: Prospect
        color:
          type: string
          example: '#000000'
      required:
      - id
      - name
      - color
    CompanyIntentTopicMetadata:
      type: object
      properties:
        topicScore:
          type: number
          example: 83
        topicTrend:
          type: string
          example: '-5'
      required:
      - topicScore
      - topicTrend
    CompanyWebsiteTrafficSignal:
      type: object
      properties:
        companyId:
          type: string
          example: '3416'
        signalId:
          type: string
          example: '1503902'
        signalDate:
          type: string
          format: date
          example: '2025-06-15'
        historicalAvg:
          type: number
          example: 50000
        lastMonthVisits:
          type: number
          example: 75000
        changeRatePercent:
          type: number
          example: 50
        companyName:
          type: string
          example: Lusha
        domain:
          type: string
          example: lusha.com
  parameters:
    lastName:
      name: lastName
      in: query
      description: The last name of the person
      schema:
        type: string
      example: Moskovitz
    linkedinUrl:
      name: linkedinUrl
      in: query
      description: The LinkedIn URL of the person
      schema:
        type: string
      example: https://www.linkedin.com/in/dustin/
    partialProfile:
      name: partialProfile
      in: query
      description: 'Search for a single contact with the option to receive a partial profile.

        '
      required: false
      schema:
        type: boolean
        default: false
      example: true
    firstName:
      name: firstName
      in: query
      description: The first name of the person
      schema:
        type: string
      example: Dustin
    refreshJobInfo:
      name: refreshJobInfo
      in: query
      description: 'Set to true to refresh and update the job details for the person.

        This ensures that outdated job information is replaced with the most recent data.

        '
      schema:
        type: boolean
        default: false
      example: true
    personId:
      name: personId
      in: query
      description: The unique person identifier in Lusha
      schema:
        type: string
      example: '4183886134'
    companyName:
      name: companyName
      in: query
      description: The name of the company the person works at
      schema:
        type: string
      example: Lusha
    filterBy:
      name: filterBy
      in: query
      description: 'Filters results based on specific contact details. Available options:

        - `phoneNumbers`: Only return contacts with phone numbers

        - `emailAddresses`: Only return contacts with email addresses


        By default, results will include contacts with at least one contact detail.

        '
      schema:
        type: string
        enum:
        - phoneNumbers
        - emailAddresses
    companyDomain:
      name: companyDomain
      in: query
      description: The domain name of the company
      schema:
        type: string
      example: lusha.com
    revealEmails:
      name: revealEmails
      in: query
      description: 'Set `revealEmails=true` to retrieve only the email address of the contact.

        '
      schema:
        type: boolean
        default: true
      example: true
    revealPhones:
      name: revealPhones
      in: query
      description: 'Set `revealPhones=true` to retrieve only the phone number of the contact.

        '
      schema:
        type: boolean
        default: true
      example: true
    signalsStartDate:
      name: signalsStartDate
      in: query
      description: 'Start date for signal retrieval in YYYY-MM-DD format. Defaults to 6 months ago if not specified.

        '
      schema:
        type: string
        format: date
      example: '2025-03-01'
    email:
      name: email
      in: query
      description: The email address of the person
      schema:
        type: string
      example: dustin@lusha.com
    signals:
      name: signals
      in: query
      description: 'Array of signal types to retrieve for the contact.

        - `allSignals`: All available signal types

        - `promotion`: Promotion signals

        - `companyChange`: Company change signals

        '
      schema:
        type: array
        items:
          type: string
          enum:
          - allSignals
          - promotion
          - companyChange
      example:
      - promotion
  responses:
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 500
            message: Internal server error. Please try again later.
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 429
            message: Too many requests. Please wait before making another request.
      headers:
        RateLimit-Limit:
          description: The total number of allowed requests per second
          schema:
            type: integer
        RateLimit-Remaining:
          description: The number of remaining requests in the current window
          schema:
            type: integer
        RateLimit-Reset:
          description: The time (in seconds) until the rate limit quota is reset
          schema:
            type: integer
        X-RateLimit-Remaining-Daily:
          description: The number of remaining requests for your daily quota
          schema:
            type: integer
        X-RateLimit-Reset-Daily:
          description: The time when your daily quota will reset
          schema:
            type: integer
    Forbidden:
      description: Forbidden - account inactive or feature not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accountInactive:
              summary: Account inactive
              value:
                statusCode: 403
                message: Your account is not active. Please reach out to support at support@lusha.com
            featureNotAvailable:
              summary: Feature not available for pricing plan
              value:
                statusCode: 403
                message: Your pricing version does not support requesting individual datapoints [revealEmails, revealPhones]
            subscriptionLimitReached:
              summary: Subscription limit reached
              value:
                statusCode: 403
                message: Maximum subscriptions limit reached for your account
            dncNotSupported:
              summary: DNC filter not supported on current plan
              value:
                statusCode: 403
                message: Exclude DNC is not supported on your current plan. Please contact support or your account manager for assistance.
    GDPRRestricted:
      description: GDPR restricted - unable to process due to GDPR regulations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 451
            message: We are unable to process this contact request due to our GDPR regulations
    NotFound:
      description: Not found - resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 404
            message: Resource not found
    BadRequest:
      description: Bad request - invalid input data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 400
            message: Invalid request parameters
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            statusCode: 401
            message: Invalid API key
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
      description: 'Your Lusha API key. You can find this in your Lusha dashboard under API settings.


        Include this key in the `api_key` header for all requests.

        '
