openapi: 3.1.0
info:
  title: Lusha Account Signals API
  description: Lusha is a B2B sales intelligence platform offering verified contact and company data. The platform exposes four REST APIs (Enrichment, Prospecting, Signals, Lookalike) plus webhook subscriptions and an account usage endpoint. Authentication is via an api_key header generated in the Lusha dashboard.
  version: 3.0.0
  contact:
    name: Lusha
    url: https://docs.lusha.com/apis
servers:
- url: https://api.lusha.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Signals
  description: Buying-intent and account signals
paths:
  /v3/contacts/signals:
    post:
      tags:
      - Signals
      summary: Get contact activity signals
      operationId: getContactSignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Contact signals
  /v3/companies/signals:
    post:
      tags:
      - Signals
      summary: Get company activity signals
      operationId: getCompanySignals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Company signals
  /v3/contacts/signals/types:
    get:
      tags:
      - Signals
      summary: List contact signal types
      operationId: listContactSignalTypes
      responses:
        '200':
          description: Available signal types
  /v3/companies/signals/types:
    get:
      tags:
      - Signals
      summary: List company signal types
      operationId: listCompanySignalTypes
      responses:
        '200':
          description: Available signal types
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api_key
